[2014-06-10 02:32] iceblade112 opened #2 "Studio, Player/Client crashes after load"
After loading, RS2013 crashes. Same with the game client.

[2014-07-25 15:28] x2110311x opened #3 "Can't Run Script"
I get this when I run it:
Roblox Linux Wrapper v1.3.3
rlw.sh: 239: rlw.sh: Syntax error: end of file unexpected (expecting "fi")

When I try running Roblox manually, the terminal just closes.

I'm running Ubuntu 14.04 LTS 64-bit with Wine 1.7.22
I installed all the dependencies with Winetricks.

It seems like somewhere there's a problem ending one of the if statements

[2014-07-30 08:41] #3 closed, assigned to alfonsojon

[2014-08-03 23:25] #2 closed, assigned to alfonsojon

[2014-08-11 12:27] alfonsojon opened #5 "Dialogs too small on GTK+ 3.12"
Dialogs are currently too small on GTK 3.12. Although this is a bug in zenity and is not caused by rlw, it should detect if GTK+ 3.12 is installed. If it is installed, it should work around the size issue by increasing the window size using a variable.
![screenshot from 2014-08-11 07 25 32](https://cloud.githubusercontent.com/assets/1163298/3875526/9dfdf04c-2152-11e4-904b-1db4c85ec6f2.png)

[2014-08-17 05:59] kvan73 opened #6 "Roblox Player Crash - install cabextract to fix"
I am using fedora 20 KDE. The first time I installed, I followed your install directions and everything seemed to install semi correctly. (Shortcut doesnt work, have to run rlw.sh every time to play roblox.) Roblox player would crash shortly after selecting play on any of the sites play links. So I installed rlw.sh from the command line instead of gui. During the install of the wrapper, around  th

[2014-08-17 08:23] #6 closed, assigned to alfonsojon

[2014-09-07 03:01] ghost opened #7 "Not Opening Studio"
It's not opening studio. I can launch games though. Here's the output from the shell file.

Roblox Linux Wrapper v2.0.3-STABLE
rlw.sh: 66: rlw.sh: [[: not found
$1 installed, continuing
$1 installed, continuing
$1 installed, continuing
$1 installed, continuing
$1 installed, continuing
rlw.sh: 189: rlw.sh: [[: not found
rlw.sh: 161: rlw.sh: [[: not found
wine: cannot find ''
rlw.sh: 31: rlw.sh: [[:

[2014-09-12 01:37] #7 closed, assigned to alfonsojon

[2014-09-22 13:52] alfonsojon opened #8 "RLW should be written in Python, not shell."
RLW should be written in Python. The current implementation that uses a complex shell script combined with zentiy is not optimal, and should be replaced with native code in a more proper programming language which is better suited for this purpose, a good example being Python.

Requirements:
- GUI (similar to current implementation)
- Not malicious
- Easy to use
- Cannot contain proprietary Roblox

[2014-10-02 14:21] ghost opened #9 "Shell Script Error - Read/tried the "Roblox on Linux" from roblox.wikia.com"
When I tried to run the shell script I got this output:

$ ./rlw.sh
Roblox Linux Wrapper v20140930-RELEASE
./rlw.sh: line 282: warning: here-document at line 221 delimited by end-of-file (wanted `EOF')
./rlw.sh: line 283: syntax error: unexpected end of file

I don't know how to fix it... :/
Any help?

[2014-10-03 13:46] #9 closed, assigned to alfonsojon

[2014-10-10 03:11] alfonsojon opened #10 "RLW looks for wrong Roblox Studio executable"
Roblox Linux Wrapper (as of 20141007) is looking for RobloxStudioBeta.exe, when it should be looking for RobloxStudioLauncherBeta.exe. Originally reported by user Caevus on http://www.roblox.com/

[2014-10-10 03:14] #10 closed, assigned to alfonsojon

[2014-10-24 12:38] LucasWolschick opened #11 "Roblox Studio Executable removed upon launch and close"
Hia,
There is something disturbing me with the current rlw release; After resetting ROBLOX over 50 times, I've reached the conclusion that there is a bug inside the coding, because upon opening a session of Roblox Studio and Closing it, The executable gets removed, along with all the configurations. There may be times that occasionally it won't get deleted, but the config, yes.
Any light on this?

[2014-11-25 05:26] #11 closed, assigned to alfonsojon

[2014-12-02 14:10] LucasWolschick opened #13 "Program stuck in dependencies download, in newer versions."
Heh, sorry for bugging you so much, but I'm practically a bug-reporter in this repo. This issue is as the following:

The program gets stuck in an infinite loop when downloading dependencies. What it does is show the zenity window, attempt to download the files, then an error occur, and it gets back to the loop. There is no process to kill, and no cancel button in the zenity window.

off-topic: I'

[2015-01-07 19:42] alfonsojon commented on #8
I'd like an update, is there anyone who is actively working on this and should be assigned? Thanks.

[2015-01-07 20:30] crazykilla15 commented on #8
I am still working on this.

Been caught up with school, plus i have exams next week.

[2015-01-08 05:27] alfonsojon commented on #8
@crazykilla15 Got it.

[2015-01-08 05:30] alfonsojon commented on #13
@LucasWolschick Does the latest build fix this? Thanks.

[2015-01-09 01:08] stormchaser3000 opened #14 "not launching games"
i know this is a lot but:

fixme:wininet:query_global_option INTERNET_OPTION_PER_CONNECTION_OPTION stub
fixme:wininet:query_global_option Unknown dwOption 10
fixme:wininet:get_proxy_autoconfig_url no support on this platform
fixme:wininet:query_global_option INTERNET_OPTION_PER_CONNECTION_OPTION stub
fixme:wininet:get_proxy_autoconfig_url no support on this platform
fixme:wininet:query_global_opti

[2015-01-09 01:11] stormchaser3000 commented on #14
well i can't launch any games. and this pops up when playing daxter33's paintball and [[Project Supercell]] (almost finish)

[2015-01-09 01:49] alfonsojon commented on #14
Can you give me the following information please?
- Distribution
- Version of wine (check in terminal with wine --version)
- Architecture (32/64 bit?)
- Version of RLW (it says in the title bar)

With this info, I can help you a lot more. Thanks for the report.

[2015-01-09 03:21] stormchaser3000 commented on #14
um kubuntu 14.04 (i don't know about the 14.04.1 but i do know i am using an update to the lts release)
version of wine = 1.7 from repos
64 bit
and i just git cloned this repo and ran rlw.sh

[2015-01-09 06:30] alfonsojon commented on #14
Please install wine-compholio and try again. The latest version now requires wine-compholio.

[2015-01-09 06:32] alfonsojon commented on #5
Fixed upstream.

[2015-01-09 06:32] #5 closed

[2015-01-09 15:16] stormchaser3000 commented on #14
oh i though i already did XD oops. thanks

[2015-01-09 20:52] stormchaser3000 commented on #14
i already had it installed so something else must be the issue

[2015-01-10 02:46] alfonsojon commented on #14
Huh... Can you select "Reset Roblox to Defaults" and try again? Make sure Roblox and Mozilla Firefox are both closed.

[2015-01-10 02:56] alfonsojon commented on #13
Closing, assumed fixed with latest revisions.

[2015-01-10 02:56] #13 closed

[2015-01-10 21:08] ViciousFurry opened #16 "Roblox Linux Wrapper keeps asking me to install Roblox again?"
Roblox wouldn't lauch, when I open the Roblox Wrapper it asks me if I want to install when I've already installed.

( This happened after I updated to the newest RLW )

[2015-01-11 03:16] alfonsojon commented on #16
I'll be working on a reworked version of RLW, which should be less buggy and provide better repairs. In the meantime, close Roblox, Firefox, and RLW, then try running this in a terminal:

rm -rf $HOME/.rlw $HOME/.local/share/wineprefixes/Roblox && bash <(wget -q https://raw.githubusercontent.com/alfonsojon/roblox-linux-wrapper/master/rlw.sh -O -)

After doing that, it should *hopefully* work. Good

[2015-01-11 04:10] ViciousFurry commented on #16
Thank you, that worked. :)

[2015-01-11 06:14] alfonsojon commented on #16
Glad to hear!

[2015-01-11 06:14] #16 closed

[2015-01-11 10:24] stormchaser3000 commented on #14
i did. and that worked. but i have a nother issue with the shell script it self

[2015-01-11 10:24] stormchaser3000 commented on #14
./rlw.sh: line 170: conditional binary operator expected
./rlw.sh: line 170: syntax error near `$HOME/.local/share/icons/hicolor/512x512/apps/roblox.png'
./rlw.sh: line 170: `   if [[ -ne $HOME/.local/share/icons/hicolor/512x512/apps/roblox.png ]]; then'

[2015-01-11 10:26] stormchaser3000 commented on #14
probably this for some reason:
if [[ -e $HOME/.local/share/icons/hicolor/512x512/apps/roblox.png ]]; then
export RBXICON=$HOME/.local/share/icons/hicolor/512x512/apps/roblox.png
fi

[2015-01-11 14:16] billy1234567892 commented on #14
@stormchaser3000 I am having the same error

[2015-01-11 14:52] stormchaser3000 commented on #14
ima make a separate issue for that

[2015-01-11 15:25] stormchaser3000 opened #17 "syntax error"
./rlw.sh: line 170: conditional binary operator expected
./rlw.sh: line 170: syntax error near $HOME/.local/share/icons/hicolor/512x512/apps/roblox.png' ./rlw.sh: line 170: if [[ -ne $HOME/.local/share/icons/hicolor/512x512/apps/roblox.png ]]; then'

[2015-01-11 15:53] #14 closed

[2015-01-11 19:01] cocobuter commented on #17
I am currently havig the same issue and followed all the steps in the last issue conversation and this the same prompt im receiving.

[2015-01-11 20:15] HJSR commented on #17
Same for me.

[2015-01-12 14:44] alfonsojon commented on #17
Fixing now, sorry!

[2015-01-13 00:56] cocobuter opened #18 "wrapper not installing need help!"
I downloaded the wine staging and ran the wrapper, but now its saying this
/dev/fd/63: line 84: /opt/wine-compholio/bin/wine: No such file or directory
/dev/fd/63: line 85: cd: /home/momo/.local/share/wineprefixes/Roblox: No such file or directory
tr: warning: an unescaped backslash at end of string is not portable
/dev/fd/63: line 87: /opt/wine-compholio/bin/wine: No such file or directory
/dev/f

[2015-01-13 01:10] cocobuter commented on #18
i do not have a wine-compholio directory i have a /opt/wine-staging/bin/wine directory

[2015-01-13 02:36] alfonsojon commented on #18
I'll fix this shortly, it sees wine-compholio has become wine-staging. Thank you for the report!

[2015-01-13 02:40] alfonsojon commented on #18
Is this fixed in 20150112a?

[2015-01-13 02:42] alfonsojon commented on #17
Is this fixed in build 20150112? Be sure to let me know, thanks for the detailed reports everyone!

[2015-01-13 16:32] cocobuter commented on #18
Thank you very much i live in a different time zone and just got back to trying it now

[2015-01-13 16:34] cocobuter commented on #18
Thanks the wrapper is working great and perfect now thank you very much again for the help and the work you do!

[2015-01-13 18:07] cocobuter commented on #18
Okay so i guess something else was wrong as well. As soon as i launch the game the game window comes up then says an unexpected problems occurs and ive even wiped my laptop and done everything over and it wont work still

[2015-01-13 18:12] #18 closed

[2015-01-13 18:13] cocobuter opened #19 "Roblox encountering an error"
It is now saying an error is occuring when ever game launches. I'm sorry to be a nuscence.

[2015-01-13 20:54] HJSR commented on #19
When i try running Roblox it says: Runtime Error! Program C:\users\hjsr\Local Settings\Application Data\RobloxVersions\version-d2af929835a34f18\RobloxPlayerBeta.exe abnormal program termination.

[2015-01-14 03:27] alfonsojon commented on #19
@cocobuter No worries, you're not a nuisance! I'm glad to be providing support. @HJSR @cocobuter Try resetting it to defaults, as it now uses wine-staging.

[2015-01-14 10:57] cocobuter commented on #19
I have done installation process over again, and resetting it to defaults. Neither is working i believe it is a bug that is happening when the firefox roblox page launches the second window for the game and it crashes.

[2015-01-14 14:01] alfonsojon commented on #19
I'll take a look when I am off work tonight around 21:00.

[2015-01-14 15:58] cocobuter commented on #19
Okay thank you very much!

[2015-01-16 17:58] crazykilla15 commented on #8
Exams over, will resume work.

[2015-01-20 01:25] RainboomDash opened #20 "PATH"
When I select any option in the Roblox Linux Wrapper, my Terminal gives me this message:

wine client error:0: version mismatch 447/459.
Your wineserver binary was not upgraded correctly,
or you have an older one somewhere in your PATH.
Or maybe the wrong wineserver is still running?

[2015-01-21 16:36] alfonsojon commented on #20
Close everything related to Roblox Linux Wrapper, then open RLW and select "Reset Roblox to Defaults". This should fix it.

[2015-01-21 16:48] RainboomDash commented on #20
Now when I click restore to default, it says it's not installed and keeps installing in a loop.

[2015-01-21 16:54] alfonsojon commented on #20
RainboomDash: That's no good! Can you log out, log back in, then run this command in a terminal?

rm -rf $HOME/.local/share/wineprefixes/Roblox $HOME/.rlw && <(wget -q https://raw.githubusercontent.com/alfonsojon/roblox-linux-wrapper/master/rlw.sh -O -)

[2015-01-21 17:00] RainboomDash commented on #20
Permission Denied!

[2015-01-21 17:02] RainboomDash commented on #20
I think Permission Denied is the act of Bash trying to execute something that isn't marked executable?

[2015-01-21 17:02] alfonsojon commented on #20
Strange.... Try this.
sudo chown -hR `whoami`:`whoami` $HOME && sudo rm -rf $HOME/.local/share/wineprefixes/Roblox $HOME/.rlw && <(wget -q https://raw.githubusercontent.com/alfonsojon/roblox-linux-wrapper/master/rlw.sh -O -)

[2015-01-21 17:02] alfonsojon commented on #20
that's not right

[2015-01-21 17:03] alfonsojon commented on #20
What distribution are you using?

[2015-01-21 17:03] RainboomDash commented on #20
Ubuntu 14.10, I had it working a while ago but then I had to purge wine and ever since it stopped.

[2015-01-21 17:04] alfonsojon commented on #20
Thats strange

[2015-01-21 17:05] RainboomDash commented on #20
I put that command in above, changed whoami to my account name

No response from the Terminal.

[2015-01-21 17:06] RainboomDash commented on #20
Hmmm, any more ideas?

[2015-01-21 17:15] alfonsojon commented on #20
@RainboomDash I'd let the terminal finish. Is it done yet?

[2015-01-21 17:16] RainboomDash commented on #20
I will restart it, I am making some lunch right now so I will update you on that afterwards. (meaning I will start the terminal command again right now)

[2015-01-21 17:17] alfonsojon commented on #20
@RainboomDash If it already finished, then it's done. You don't need to run it again.

[2015-01-21 17:17] RainboomDash commented on #20
Oh wait one second, when I ran it, I didnt see but it gave me this: bash: /dev/fd/63: Permission denied

[2015-01-21 17:19] alfonsojon commented on #20
@RainboomDash I'm sorry to be the bringer of bad news, but I think there is a problem with your installation that is far greater than the scope of what RLW could have done. I would personally check to see if the hard drive is failing if I were you, as it seems you're having permission-based errors that are often found when the hard drive is failing.

[2015-01-21 17:22] RainboomDash commented on #20
I have an idea, I will try this on my other account, this account is pretty used and might be a bit off, I will tell you how it goes.

[2015-01-21 17:23] alfonsojon commented on #20
@RainboomDash That's also a very good idea.

[2015-01-21 17:23] RainboomDash commented on #20
When I load this account, Ubuntu always complains there is an error, so it might be this account.

[2015-01-21 17:25] RainboomDash commented on #20
When I first got this computer, my LightDM crashed at login so I had to use Gnome and that may or may not be the reason of RLW failing, I fixed unity on this new account so I am just downloading it all right now.

[2015-01-21 17:27] RainboomDash commented on #20
Oh, I think I identified the issue, could it be Wine Compolio? When I was getting it I couldn't get the latest copy so I got a earlier one, I think this might be it because of this terminal response:
wine client error:0: version mismatch 447/459.

[2015-01-21 17:30] alfonsojon commented on #20
@RainboomDash I think I see the issue now. Delete the .wine folder in your home folder, and try again.

[2015-01-21 17:30] RainboomDash commented on #20
Update: I am going to reinstall wine, I think the issue is that I updated wine while I had a wine running which made instances of more than 1. I had to run wineserver -k

[2015-01-21 17:30] RainboomDash commented on #20
Same idea ^ haha.

[2015-01-21 17:33] RainboomDash commented on #20
You see, I don't have a .wine in my home folder, which always made me curious, but I can still use Wine just fine.

[2015-01-21 17:41] alfonsojon commented on #20
@RainboomDash That sounds like a probable cause. Good luck!

[2015-01-21 17:41] alfonsojon commented on #20
You do have a .wine folder, it's just hidden by default.

[2015-01-21 17:41] RainboomDash commented on #20
I found it. ctrl+h

[2015-01-21 17:41] alfonsojon commented on #20
Yep.

[2015-01-21 17:42] RainboomDash commented on #20
But Terminal cant find it yet I got it to show. I am just purging Wine and getting a fresh copy.

[2015-01-21 17:42] alfonsojon commented on #20
ls -a will show it.

[2015-01-21 17:43] RainboomDash commented on #20
la -a just gives me a menu in Terminal.

[2015-01-21 17:43] RainboomDash commented on #20
I do -ls -a .wine

No such directory

[2015-01-21 17:45] alfonsojon commented on #20
Just ls -a

[2015-01-21 17:45] alfonsojon commented on #20
That shows all folders, including hidden

[2015-01-21 17:52] RainboomDash commented on #20
Deleted all things wine and Roblox, redoing install.

[2015-01-21 17:54] RainboomDash commented on #20
Same issue with "Wine server"

[2015-01-21 17:54] alfonsojon commented on #20
I think I'll just revert to using stock Wine, and wait for the fixes from wine-staging to trickle down.

[2015-01-21 17:55] RainboomDash commented on #20
What is difference does that make?

[2015-01-21 18:03] RainboomDash commented on #20
Good news, I am doing it on a root account and I actually see it installing, on the other ones it would instantly install, maybe root/admin access was needed. The other ones only had SUDO access.

[2015-01-21 18:03] RainboomDash commented on #20
RobloxPlayer.exe is actually installing, not sure why it didn't work on others.

[2015-01-21 18:04] RainboomDash commented on #20
I can launch RLW and it opens the Windows browser.
Lets test games and studio..

[2015-01-21 18:05] RainboomDash commented on #20
Hmm, when clicking play it asks to install.

[2015-01-21 18:06] RainboomDash commented on #20
Doing it with Legacy joining doesn't seem to work.

[2015-01-21 18:07] RainboomDash commented on #20
Terminal while I installed ROBLOX might have had an error, read this log for me? :)

zach@zach-desktop:~$ bash <(wget -q https://raw.githubusercontent.com/alfonsojon/roblox-linux-wrapper/master/rlw.sh -O -)
Roblox Linux Wrapper v20150121-RELEASE
zenity installed, continuing
Executing w_do_call ddr=gdi
Executing load_ddr gdi
Setting Direct3D/DirectDrawRenderer to gdi
Executing winetricks_early_wine

[2015-01-21 18:11] RainboomDash commented on #20
New update: Only this account has a .wine

Others I couldn't find a .wine

[2015-01-21 18:42] RainboomDash commented on #20
I found the issue, ROBLOX isn't installing to the right place but studio is that is why the NEW version hasn't worked yet

[2015-01-21 18:42] RainboomDash commented on #20
I can launch studio but not player.

[2015-01-21 18:45] alfonsojon commented on #20
@RainboomDash You need to go to the top left where there's the little lego (in the URL bar) and allow the Roblox plugin.

[2015-01-21 18:46] RainboomDash commented on #20
I have done that.

[2015-01-21 18:46] alfonsojon commented on #20
Does it crash when you try to launch?

[2015-01-21 18:47] alfonsojon commented on #20
If it does, then it is most likely a wine bug, and must be fixed by developers from the wine project.

[2015-01-21 18:47] RainboomDash commented on #20
No, when I click "Play" it will just ask for the plugin, even though it's allowed.

[2015-01-21 18:48] alfonsojon commented on #20
@RainboomDash There should be a bar on top that asks if you'd like to allow it, click allow and remember.

[2015-01-21 18:48] RainboomDash commented on #20
Yeah, I did all of that.

[2015-01-21 18:49] alfonsojon commented on #20
I'll need to take a look when I get home.

[2015-01-21 18:49] RainboomDash commented on #20
Also, I went into the "Plugins" area of Firefox and made sure it's always allowed/activated.

[2015-01-21 18:53] alfonsojon commented on #20
I can't really help further from here, I'm sorry. Currently in class, but I'll be glad to fix the problem in a few hours when I'm home. Thanks for the reports!

[2015-01-21 18:54] RainboomDash commented on #20
No problem, thanks for the effort.

[2015-01-22 04:53] jreced commented on #20
I can tell you right now, there's a Wine issue. I've been having that problem too.

[2015-01-23 17:23] alfonsojon commented on #20
@jreced Thanks for the feedback, it's very helpful as I never have time to actually get on a computer (school, then straight to work, then sleep). I'm going to redesign the script so that it uses separate prefixes for both wine and wine-staging. As a result, the prefixes shouldn't get confused from now on because of mixed wine versions. I'll be sure to commit it when I finish, as it's a fairly sig

[2015-01-23 17:24] alfonsojon commented on #20
It will be present in $HOME/.local/share/wineprefixes/Roblox (wine) and $HOME/.local/share/wineprefixes/Roblox-staging (wine-staging).

[2015-01-25 01:43] masterdome opened #21 "Wont Play Game!"
It Keeps Telling Me That It Needs To Allow And Remember The Plugin And I Already Did I Checked It In The Add on Section Too!!

[2015-01-25 01:47] masterdome commented on #21
I Tried Everything Shuting downing My Computer, Deleting Roblox, Setting is Back To Default Settings,Deleting Ubuntu And Getting It Back But None Worked

[2015-01-26 23:27] RainboomDash commented on #21
Hey! This is a known bug and I already reported this. Wine and Wine Compolio are broken with Roblox Linux Wrapper currently, Alfonsojon is working on it currently, but his life is filled with his classes, so be patient as we all anticipate a fix.

[2015-01-27 03:07] masterdome commented on #21
Ok Thanks for telling me That!

[2015-01-27 14:31] alfonsojon commented on #21
@RainboomDash @masterdome Well, I couldn't have worded it better; school and work are definitely getting in the way! I'm going to be working on it during some of my tech classes. I'll be sure to keep you all updated!

[2015-01-27 15:33] alfonsojon commented on #21
Please try build 20140127-staging. This should hopefully fix it!

[2015-01-27 15:37] alfonsojon commented on #20
Can you try build 20150127-staging? It should take care of these issues.

[2015-01-27 15:38] alfonsojon commented on #17
Assuming fixed.

[2015-01-27 15:38] #17 closed

[2015-01-27 15:41] alfonsojon commented on #8
Python is no longer a current target, as it will require more work to do the same job.

[2015-01-27 16:21] crazykilla15 commented on #8
Interesting.

[2015-01-27 18:41] #8 closed

[2015-01-27 22:35] RainboomDash commented on #21
test@zach-desktop:~$ '/home/test/Desktop/Roblox Linux/roblox-linux-wrapper-master/rlw.sh'
/home/test/Desktop/Roblox Linux/roblox-linux-wrapper-master/rlw.sh: line 23: conditional binary operator expected
/home/test/Desktop/Roblox Linux/roblox-linux-wrapper-master/rlw.sh: line 23: syntax error near `zenity`'
/home/test/Desktop/Roblox Linux/roblox-linux-wrapper-master/rlw.sh: line 23: `if [[ -ne `wh

[2015-01-27 22:38] RainboomDash commented on #20
@alfonsojon Check the most recent post about this bug, I put my error there, this one can be closed off.

[2015-01-27 22:45] RainboomDash commented on #19
This might be a bug related to what has been currently happening where Linux doesn't see Roblox being installed, during a test I performed Studio is reconized, not Roblox Player.

[2015-01-27 23:07] Backtalkers opened #22 "I can't even download it :("
/dev/fd/63: line 23: conditional binary operator expected
/dev/fd/63: line 23: syntax error near `zenity`'
/dev/fd/63: line 23: `if [[ -ne `which zenity` && `which wget` ]]; then'
I will not reveal my desktop name, could lead to remote desktop.

[2015-01-27 23:42] RainboomDash commented on #22
This is a known issue, redirect your issues here:
https://github.com/alfonsojon/roblox-linux-wrapper/issues/21

[2015-01-28 01:46] masterdome commented on #21
Have You Got WIne-Staging Installed?

[2015-01-28 01:50] masterdome commented on #21
Nervermind it dosen't work with that either

[2015-01-28 02:12] RainboomDash commented on #21
Make sure to confirm what you say so we don't make this post list ten billion posts long. :+1:

[2015-01-28 02:19] masterdome commented on #21
K
RainboomDash

[2015-01-28 03:48] alfonsojon commented on #21
Turns out I made an oops in 20150127-staging. Can you try 20150127b-staging? That fixes an error I found. Thanks for the feedback!

[2015-01-28 03:48] alfonsojon commented on #22
@RainboomDash Thanks for letting him know!

[2015-01-28 03:48] #22 closed

[2015-01-28 03:51] RainboomDash commented on #21
Testing out the new build now, post will be updated with results and IF there are errors I find.

[2015-01-28 03:51] RainboomDash commented on #21
Build error on install.

test@zach-desktop:~$ bash <(wget -q https://raw.githubusercontent.com/alfonsojon/roblox-linux-wrapper/master/rlw.sh -O -)
Roblox Linux Wrapper v20150127b-staging-RELEASE
/dev/fd/63: line 249: warning: here-document at line 116 delimited by end-of-file (wanted `EOF')
/dev/fd/63: line 250: syntax error: unexpected end of file

[2015-01-28 04:03] alfonsojon commented on #21
@RainboomDash My bad, that's fixed as well.

[2015-01-28 04:04] alfonsojon commented on #20
This is fixed in 20150127c-staging. Closed.

[2015-01-28 04:04] #20 closed

[2015-01-28 04:04] alfonsojon commented on #19
This should be fixed in build 20150127c-staging. Can I get feedback as to whether or not this is the case? Thanks!

[2015-01-28 04:05] RainboomDash commented on #21
Oh yeah, now its doing stuff, will keep you updated.

[2015-01-28 04:09] RainboomDash commented on #21
Roblox Player works! Studio will be tested now.

[2015-01-28 04:14] RainboomDash commented on #21
Studio works, but there is a small black box in the middle of my screen for every window while Studio is open.
![untitled](https://cloud.githubusercontent.com/assets/10606504/5932371/de42caa2-a671-11e4-8f58-31d83e509463.png)

[2015-01-28 04:18] alfonsojon commented on #21
@RainboomDash That's a wine bug with GNOME, try running it under a different session. So far, it's only affected GNOME 3 and Elementary.

[2015-01-28 04:19] RainboomDash commented on #21
Unity is a bit bugged with my system currently, I think I fixed it a while back, I will test that out for you.

[2015-01-28 04:21] alfonsojon commented on #21
@RainboomDash Thanks. I usually use MATE, so I have no idea what it's like on other environments.

[2015-01-28 04:22] alfonsojon commented on #21
Closing, as it seems the main issues have been resolved.

[2015-01-28 04:22] #21 closed

[2015-01-28 04:24] RainboomDash commented on #19
Confirmed that it does work fine with Unity (Ubuntu regular desktop) and GNOME. As said by you, GNOME does have the black box in Roblox Studio, otherwise I think the almighty, heroic Alfonsojon has fixed RLW.

[2015-01-28 04:25] RainboomDash commented on #19
You really had the scare on me when I first reported the problem and being diagnosed with my hard drive.

[2015-01-28 04:26] alfonsojon commented on #19
@RainboomDash If you would like, you can file a related bug under libmutter. https://launchpad.net/ubuntu/+source/mutter

Sorry about that, that generally doesn't happen unless there are worse underlying problems. My bad!

[2015-01-28 04:27] alfonsojon commented on #19
More information - Mutter is the compositioning-enabled window manager used extensively by GNOME Shell, and used as a base for Elementary OS's window manager Gala. As it affects both, the issue is probably due to libmutter-dev not liking something with Wine.

[2015-01-28 04:27] alfonsojon commented on #19
Closing as fixed, thanks for the feedback everyone!

[2015-01-28 04:27] RainboomDash commented on #19
I don't mean any disrespect, but you should have a team of selected testers to test a build before official release or something.

And, alright thanks.

[2015-01-28 04:28] alfonsojon commented on #19
@RainboomDash The problem is that I don't have any of them, and when I code blind (I sometimes have to code without testing, which is bad), I slip sometimes; however, 99% of the problems are usually syntax errors.

[2015-01-28 04:30] alfonsojon commented on #19
@RainboomDash Sorry to bother, but what would your Roblox username be, so we can discuss? I also am available via email.

[2015-01-28 04:31] RainboomDash commented on #19
My Roblox account name stands at "Masterzackjg", 2009 account :P

Hey, I don't have much but I am donating a small amount, all I have, all for you for your hard work and dedication to us, the fans.

[2015-01-28 04:34] alfonsojon commented on #19
Alright, thanks a bunch!

[2015-01-28 04:34] #19 closed

[2015-01-28 04:48] RainboomDash opened #23 "Issue Layout"
Name your issue:

Describe your issue:

Try running your Roblox Linux Wrapper through the Terminal and paste the logs here:

Additional Information:

[2015-01-28 04:50] #23 closed

[2015-01-28 17:28] stormchaser3000 opened #24 "prefix not being created."
the wineprefix is not being created when i attempt to make the prefix to install the dependencies and roblox. i have wine-staging installed and wine1.7 installed as well as zenity and wget.

i would show debug data. but that might not give anything useful from what i saw.

[2015-01-28 17:31] RainboomDash commented on #24
Try to delete your .wine in your home folder. To view it use Ctrl+h. If that doesnt work, reinstall wine and wine staging.

[2015-01-28 17:33] RainboomDash commented on #24
Also, make sure there isn't already a prefix in that name.

[2015-01-28 17:37] RainboomDash commented on #24
If the above doesn't work, run terminal with it and show logs.

[2015-01-29 01:54] masterdome opened #25 "Sound"
The Sound Wont Work When I Play Roblox.

[2015-01-29 01:58] RainboomDash commented on #25
Make sure your sound is directed to your headphones

[2015-01-29 02:06] masterdome commented on #25
Ok :+1:

[2015-01-29 02:07] RainboomDash commented on #25
If that doesn't solve it, make sure another sound program doesn't have control.
Examples: JACK, Pulse Audio, etc.

[2015-01-29 02:14] masterdome commented on #25
Noting Does And The Headphones wont work either

[2015-01-29 02:17] RainboomDash commented on #25
Do the headphones work outside of Roblox?

[2015-01-29 02:17] masterdome commented on #25
Yes

[2015-01-29 02:17] RainboomDash commented on #25
What Linux distribution?

[2015-01-29 02:18] masterdome commented on #25
Elementary OS Luna

[2015-01-29 02:19] RainboomDash commented on #25
Go on your Roblox Linux Wrapper, reset Roblox to default and try.

[2015-01-29 02:22] masterdome commented on #25
is wine gecko suppose to be installed because i accidentally deleted it

[2015-01-29 02:24] RainboomDash commented on #25
Yes, it's a Wine dependency

[2015-01-29 02:26] RainboomDash commented on #25
To do a quick fix do   sudo apt-get install --reinstall wine

[2015-01-29 02:31] masterdome commented on #25
Ok

[2015-01-29 02:32] masterdome commented on #25
Internet is pretty slow

[2015-01-29 02:33] RainboomDash commented on #25
I am a patient person, and I am here to serve the community for all problems and issues anyone has.

[2015-01-29 02:58] masterdome commented on #25
I Have It Now

[2015-01-29 02:58] RainboomDash commented on #25
Sound?

[2015-01-29 02:59] masterdome commented on #25
No Gecko

[2015-01-29 02:59] RainboomDash commented on #25
Any differences made?

[2015-01-29 03:01] masterdome commented on #25
No Wait I Cant Download Wine Gecko!

[2015-01-29 03:10] masterdome commented on #25
Do You Know How To Download It

[2015-01-29 03:11] RainboomDash commented on #25
It comes with Wine.

[2015-01-29 03:15] masterdome commented on #25
Not For Me

[2015-01-29 03:18] masterdome commented on #25
I Searched For Wine Gecko But I Cant Install It

[2015-01-29 03:21] RainboomDash commented on #25
Quick research, it won't fix your sound error, I will bring this to the developer.

[2015-01-29 03:23] masterdome commented on #25
Ok Thanks Alot Should I Close This Now?

[2015-01-29 03:50] RainboomDash commented on #25
I do not have access to that, I will bring him to this post and continue on this.

[2015-01-29 04:07] masterdome commented on #25
K

[2015-01-29 04:07] masterdome commented on #25
Well Bye!

[2015-01-29 04:08] RainboomDash commented on #25
Goodbye, friend.

[2015-01-29 04:40] alfonsojon commented on #25
wine-gecko is not needed for sound. This may be an issue with Ubuntu 12.04 (and Elementary OS Luna). I will look into this.

[2015-01-29 04:49] RainboomDash commented on #25
Possible find: Roblox isn't recognized unless launched from RLW, maybe since it's not recognized it may not show up in your sound options, thus no sound being output through earphones or whatever.

[2015-01-29 12:16] masterdome commented on #25
Ok

[2015-01-30 02:45] masterdome commented on #25
Whats RLW?

[2015-01-30 03:24] RainboomDash commented on #25
RLW = Roblox Linux Wrapper

[2015-01-30 19:31] alfonsojon commented on #24
This should be fixed in build 20150130.

[2015-01-30 22:13] masterdome opened #26 "Starting Up"
It Wont Start Up I Just Got Done Updating It.
When I Press "Play Roblox".

[2015-01-30 22:35] RainboomDash commented on #26
Confirmed for me as well.

Syntax error?

[2015-01-30 22:36] masterdome commented on #26
I dont know

[2015-01-31 03:42] alfonsojon commented on #26
I'll look into this, it may have been a Roblox update.

[2015-01-31 04:30] alfonsojon commented on #25
I'm looking into this.

[2015-01-31 05:09] zis4zen opened #27 "No such file or directory"
I'm trying to install robox for my son on Rebecca (Linux Mint 17), but I keep running into brick walls, and at last a wall that I haven't been able to find a solution for.

When I run bash <(wget -q https://raw.githubusercontent.com/alfonsojon/roblox-linux-wrapper/master/rlw.sh -O -)

I get lox-linux-wrapper/master/rlw.sh -O -)
Roblox Linux Wrapper v20150130-staging-RELEASE
/dev/fd/63: line 119: /

[2015-01-31 05:13] zis4zen commented on #27
I should probably tell you where I'm at with the over all install.  I have just gotten wine-staging to run, and am trying to run rlw.sh (from http://roblox.wikia.com/wiki/Roblox_On_Linux) using step 2. But I get an error saying that roblox linux wrapper is installed and when I try to auto install it, it fails.

[2015-01-31 05:40] zis4zen commented on #27
Ok. So I figured out the problem.  I was trying to run everything from my sons profile, but he doesn't have the .local directory. I switched over to my profile, and everything ran perfectly, but now I can't run roblox from his profile.  Any ideas?

[2015-01-31 05:53] zis4zen commented on #27
Soooo.... I copied over the directory to y sons profile, ran the rlw.sh file and bam. Success.  Having said that I appologize to whom ever's email I am currelty blowing up.

[2015-01-31 05:53] #27 closed

[2015-01-31 05:57] RainboomDash commented on #24
Confirmed fix, issue should be closed now.

[2015-01-31 05:58] RainboomDash commented on #26
I do believe Roblox updated.

[2015-01-31 19:48] RainboomDash commented on #26
When I select Studio, I get this error:

wine: WINEARCH set to win32 but '/home/newuser/.local/share/wineprefixes/Roblox-wine-staging' is a 64-bit installation.
wine: WINEARCH set to win32 but '/home/newuser/.local/share/wineprefixes/Roblox-wine-staging' is a 64-bit installation.

(zenity:24167): Gdk-WARNING **: gdk_window_set_icon_list: icons too large

Roblox Player is:
(zenity:24177): Gdk-WARNI

[2015-02-01 00:49] #24 closed

[2015-02-01 00:51] alfonsojon commented on #26
@RainboomDash Ah, I see what happened. Currently working on build 20150131. Some added good news, this version has automated error detection routines. If the wine prefix doesn't generate, or something goes out of whack, it will present an error in place of failing silently. I also simplified a lot of code, using simple conditionals rather than complex if/then/else statements. I have also found sof

[2015-02-01 01:26] alfonsojon commented on #26
This will be fixed in build 20150131.

[2015-02-01 01:28] RainboomDash commented on #26
When will this be released?

[2015-02-01 01:41] alfonsojon commented on #26
Some time today, given that it's build 20150131.

[2015-02-01 01:42] RainboomDash commented on #26
Thats what I thought.

[2015-02-01 01:43] alfonsojon commented on #26
Here's a little snippet to demonstrate what I'm up to:
`# Some internal functions to make wine more useful to the wrapper.
# This allows the wrapper to know what went wrong and where, without excessive code.
# Note: the "r" prefix indicates a function that extends system functionality.

rwine () {
	$WINE "$@"; [[ $? = "0" ]] || { spawndialog error "wine closed unsuccessfully.\nSee terminal for det

[2015-02-01 01:44] alfonsojon commented on #26
[code]
Here's a snippet of code. Long story short, it's using these functions instead of actual system apps (rwine --> wine or wine-staging, with GUI for errors). This makes the program self-aware of its own issues, and lets you know what's wrong.

[2015-02-01 01:45] alfonsojon commented on #26
Works very well!

[2015-02-01 01:48] RainboomDash commented on #26
Sounds good to me

[2015-02-01 02:16] alfonsojon commented on #26
20150131 released, should fix this problem.

[2015-02-01 02:30] RainboomDash commented on #26
I will do a quick test on it.

[2015-02-01 02:31] jreced commented on #26
Already did, "Wine closed unsuccessfully (exit code 1)"

[2015-02-01 02:32] RainboomDash commented on #26
Confirmed ^

I believe the prefix checker has an issue.

[2015-02-01 02:37] RainboomDash commented on #26
(zenity:6336): Gdk-WARNING **: gdk_window_set_icon_list: icons too large
wine: WINEARCH set to win32 but '/home/test/.local/share/wineprefixes/roblox-wine-staging' is a 64-bit installation.
wine closed unsuccessfully.
See terminal for details. (exit code 1)

(zenity:6350): Gdk-WARNING **: gdk_window_set_icon_list: icons too large

[2015-02-01 03:23] alfonsojon commented on #26
I made a patch that should fix this. If not, make sure everything is closed, then reset Roblox to defaults.

[2015-02-01 03:59] RainboomDash commented on #26
Works! Issue close.

[2015-02-01 04:58] #26 closed

[2015-02-01 04:59] alfonsojon commented on #25
This is a distribution-specific error. Ensure you are updated, and try again. This is unfortunately not fixable on my end, sorry!

[2015-02-01 04:59] #25 closed

[2015-02-01 13:16] stormchaser3000 opened #28 "odd time format error"
err:wininet:HTTP_ParseDateAsAsctime unexpected weekday L"-1"
err:wininet:HTTP_ParseDate unexpected date format L"-1"
err:wininet:HTTP_ParseDateAsAsctime unexpected weekday L"-1"
err:wininet:HTTP_ParseDate unexpected date format L"-1"
err:wininet:HTTP_ParseDateAsAsctime unexpected weekday L"-1"
err:wininet:HTTP_ParseDate unexpected date format L"-1"
err:wininet:HTTP_ParseDateAsAsctime unexpected we

[2015-02-01 17:28] RainboomDash commented on #28
Does this cause RLW to fail when launching Roblox?

[2015-02-01 19:50] masterdome opened #29 "Wont Install"
When I Ran The One Line Code It Said wine closed unsuccessfully.
See terminal for details. (exit code 1)

OS: Elementary Luna 12.04

[2015-02-01 20:25] masterdome commented on #29
I have wine and gecko installed

[2015-02-02 02:00] stormchaser3000 commented on #28
this apparently causes some games to crash possibly. the game i was playing that crashed is paintball (fixes) by daxter33

[2015-02-02 02:01] stormchaser3000 commented on #28
this sould be due to me using kde plasma 5

[2015-02-02 02:04] stormchaser3000 commented on #29
i have the same issue here is some debug info:
stormchaser30000@stormchaser30000-HP-ProBook-4540s:~$ cd .rlw
stormchaser30000@stormchaser30000-HP-ProBook-4540s:~/.rlw$ ./rlw-stub.sh
zenity installed, continuing
shasum installed, continuing
wget installed, continuing

(zenity:4167): Gdk-WARNING **: gdk_window_set_icon_list: icons too large
cat: /home/stormchaser30000/.rlw/update.ignored: No such fi

[2015-02-02 02:40] RainboomDash commented on #28
roblox on Linux unstable I don't think that's causing crashes

[2015-02-02 02:42] alfonsojon commented on #28
This bug is out of my control, as it is an issue with wine. I will see what I can do about this.

[2015-02-02 02:42] #28 closed

[2015-02-02 02:43] alfonsojon commented on #29
Try running ROBLOX again, and it should work.

[2015-02-02 02:43] alfonsojon commented on #29
I will release a fix for this shortly

[2015-02-02 19:39] Mortemire commented on #29
Same thing is happening for me, I try have wine and it says the exact same thing.

I'm fourteen though, and not an expert at the terminal, I think I did it all right though.

[2015-02-02 21:23] stormchaser3000 commented on #29
i am 14. i have a lot of knowladge of the terminal. XD. just look up some totorials online or talk to other people who have a !@#$ ton of expirience

[2015-02-02 21:54] martywd commented on #29
I don't know what others are 'seeing', but for me the latest update of rlw-stub.sh is launching roblox player and roblox studio now without errors.

Caveat:  I don't 'play' roblox myself, but have 'rlw' installed (LM 17.1 MATE 64-bit) on a couple of Desktop machines so my grandkids can play when visiting.

Thanks, alfonsojon, for your continued work and updating of this project!
.

[2015-02-02 22:06] masterdome commented on #29
Its still not working for me

[2015-02-03 02:42] alfonsojon commented on #29
@masterdome Try resetting it to defaults.

[2015-02-03 02:42] alfonsojon commented on #29
This should be fixed in 20150202.

[2015-02-03 02:43] alfonsojon commented on #29
@martywd Any time; it's my pleasure!

[2015-02-03 02:50] masterdome commented on #29
It still does not install

[2015-02-03 02:52] alfonsojon commented on #29
@masterdome Uninstall and reinstall, then try again. To do this, run the following command in a terminal
```WINEPREFIX=$HOME/.local/share/wineprefixes/roblox-wine-staging rm -rf $WINEPREFIX && rm -rf $HOME/.rlw```
Try again after that.

[2015-02-03 02:56] masterdome commented on #29
@alfonsojon Still Does not work it does not uninstall it. Also it still says "wineserver closed unsuccessfully.
See terminal for details. (exit code 1)"

[2015-02-03 03:04] alfonsojon commented on #29
@masterdome How are you installing it?

[2015-02-03 03:05] masterdome commented on #29
@alfonsojon With the one line code

[2015-02-03 03:05] alfonsojon commented on #29
that's strange... I'll look into that.

[2015-02-03 03:07] masterdome commented on #29
Thanks

[2015-02-03 20:06] Gskartwii commented on #29
I was having the same problem, but the following commands fixed it:

    sudo add-apt-repository ppa:pipelight/stable
    sudo apt-get update
    sudo apt-get install --install-recommends wine-staging

[2015-02-03 20:10] Gskartwii opened #30 "Studio Test Servers don't work"
Whenever I start a test server in ROBLOX Studio, the following appears in the output:

[code]

stderr doesn't seem to have anything interesting.
I just updated to the newest version. In an older version the output also contained the following error:

[code]

[2015-02-03 20:30] alfonsojon commented on #30
Try running this in the terminal:
```WINEPREFIX=$HOME/.local/share/wineprefixes/roblox-wine-staging WINE=/opt/wine-staging/bin/wine winetricks wininet```

[2015-02-03 22:04] masterdome commented on #29
@alfonsojon It still does not work for me

[2015-02-04 12:46] masterdome commented on #29
@alfonsojon When I Install It Still Does Not Work

[2015-02-04 13:48] Gskartwii commented on #30
No, didn't fix it.

[2015-02-05 00:51] masterdome commented on #29
Does anyone know how to fix this?

[2015-02-06 02:54] alfonsojon commented on #30
Darn. I'll test this on my PC, and see if anything can be done. Are you sure this isn't an error with Roblox itself? I don't have Windows to test with, so I honestly have no idea.

[2015-02-06 03:12] alfonsojon commented on #29
Can you copy-paste what is displayed in the terminal? Thanks.

[2015-02-06 14:01] EchoDuplication commented on #29
Roblox Linux Wrapper v20150202-staging
Roblox Linux Wrapper is not installed. This is necessary to launch games properly.
Would you like to install it?

** (zenity:20587): WARNING **: Couldn't connect to accessibility bus: Failed to connect to socket /tmp/dbus-PsurvHpX8T: Connection refused

(zenity:20587): Gdk-WARNING **: gdk_window_set_icon_list: icons too large

** (zenity:20593): WARNING **: C

[2015-02-06 14:03] alfonsojon commented on #29
@EchoDuplication Can you kindly open a terminal and run the following command? This will make a text file in your home folder, named "wine-staging-ls.txt". Please paste the contents of that file here.

Command:
```ls /opt/wine-staging/bin > $HOME/wine-staging-ls.txt```

[2015-02-06 14:05] EchoDuplication commented on #29
ls: cannot access /opt/wine-staging/bin: No such file or directory

[2015-02-06 14:07] alfonsojon commented on #29
Try this:
```ls /opt/wine*/bin > $HOME/wine-staging-ls.txt```

[2015-02-06 14:08] EchoDuplication commented on #29
ls: cannot access /opt/wine*/bin: No such file or directory

[2015-02-06 14:09] alfonsojon commented on #29
```ls /opt/ > $HOME/wine-staging-ls.txt```

[2015-02-06 14:09] alfonsojon commented on #29
This is odd.

[2015-02-06 14:11] EchoDuplication commented on #29
Worked but all that the text file contains is 'google'

[2015-02-06 14:14] alfonsojon commented on #29
Thanks, I found the problem. You need to install wine-staging for Roblox Linux Wrapper to work. See this page for more info: https://github.com/wine-compholio/wine-staging/wiki/Installation

[2015-02-06 14:14] alfonsojon commented on #29
Version 20150206 (just released) now checks to see if that is installed. It will notify you if it is not installed. Can you try it for me before you install that? Thanks.

[2015-02-06 14:20] EchoDuplication commented on #29
Works perfectly! Thanks.

[2015-02-06 14:21] alfonsojon commented on #29
@EchoDuplication My pleasure!

[2015-02-06 14:21] alfonsojon commented on #29
@masterdome Does this fix the problem for you as well?

[2015-02-06 23:25] masterdome commented on #29
@alfonsojon  Yes! Thanks For Your Help

[2015-02-07 03:30] #29 closed

[2015-02-07 10:25] Gskartwii commented on #30
I'm 99% positive it worked fine on Win.

[2015-02-07 21:06] zoruaboy opened #31 "Unexpected error when playing a game"
I open terminal and this shows up
x501) from glTexSubImage3D @ volume.c / 91
err:d3d:wined3d_debug_callback 0x2d9a6f0: "GL_INVALID_VALUE in glTexSubImage3D(xoffset+width)".
err:d3d_surface:wined3d_volume_upload_data >>>>>>>>>>>>>>>>> GL_INVALID_VALUE (0x501) from glTexSubImage3D @ volume.c / 91
err:d3d:wined3d_debug_callback 0x2d9a6f0: "GL_INVALID_VALUE in glTexSubImage3D(xoffset+width)".
err:d3d_

[2015-02-09 02:46] alfonsojon commented on #31
What graphics card do you have? Do other 3D games, such as Minecraft work?

[2015-02-09 02:46] alfonsojon commented on #30
It's working fine on my end, which is odd. I'll be playing with it some more.

[2015-02-09 04:33] RainboomDash opened #32 "Studio Login"
I can log in to the studio, but when I try to save to ROBLOX it asks me to sign in. Any quick fix for this one?

[2015-02-09 06:54] zoruaboy commented on #31
Minecraft, tf2, and portal work on my computer with a little lag. And for my graphics card, all I know is that its fromintel. I'll check tomorrow

[2015-02-10 13:43] alfonsojon commented on #32
I'm not entirely sure, but let me know if this does anything;
Close everything ROBLOX-related, and then run the following command in a terminal:
```WINEPREFIX=$HOME/.local/share/wineprefixes/roblox-wine-staging winetricks wininet```

Try again after that.

[2015-02-10 15:10] Gskartwii commented on #30
I thought that this might be because I'm on 64-bit wine, maybe? No idea.

[2015-02-11 04:04] stormchaser3000 commented on #30
roblox keeps crashing when i play different games like laser tag or paintball (fixes)

[2015-02-11 05:00] jreced commented on #31
I get errors for certain games too. Its a recent thing, some of the games that now crash used to work fine, I'd blame wine.

[2015-02-11 05:01] stormchaser3000 opened #33 "roblox keeps crashing when i play different games like laser tag or paintball (fixes)"
sometimes robloxplayerbeta.exe crashes sometimes. (i will try to locate debug info)

[2015-02-11 05:02] stormchaser3000 commented on #33
well i will get debug info later

[2015-02-12 17:03] alfonsojon commented on #33
I will look into this. Does anything trigger it, or is it random?

[2015-02-12 17:04] alfonsojon commented on #33
Duplicate of bug #31.

[2015-02-12 17:04] #33 closed

[2015-02-12 17:12] alfonsojon commented on #30
It should be using the 32-bit prefix by default. While you have 64-bit Wine installed, the 32-bit version is used.

[2015-02-13 06:12] Gskartwii commented on #30
I thought that maybe winetricks was installing a 64-bit DLL.

[2015-02-14 19:11] Gtfc47 opened #34 "Error"
When i past the line into terminal the terminal reads "Missing dependencies! Make sure zenity, wget, wine, and wine-staging are installed.
Gtk-Message: Failed to load module "unity-gtk-module"

[2015-02-14 19:28] Gtfc47 commented on #34
Paste

[2015-02-15 01:14] masterdome commented on #34
@Gtfc47  You need wine and wine-staging installed on your computer

[2015-02-15 01:16] Gtfc47 commented on #34
Where can I get wine staging @masterdome

[2015-02-15 01:58] masterdome commented on #34
@Gtfc47 From https://github.com/wine-compholio/wine-staging/wiki/Installation

[2015-02-15 03:36] alfonsojon commented on #34
See here: https://github.com/wine-compholio/wine-staging

[2015-02-15 03:38] Gtfc47 commented on #34
Thanks guys I got it up and running now @alfonsojon @masterdome

[2015-02-15 03:41] alfonsojon commented on #32
I'll take a look.

[2015-02-15 03:43] alfonsojon commented on #30
That might have something to do with it. I'll need to test further.

[2015-02-15 16:07] 5shane1 opened #35 "ROBLOX Crash."
Well, I just erased Ubuntu and install Ubuntu MATE Edition. Installed ROBLOX and still getting Crashes. I open Firefox (Under Wine) and I try to load a game, it gives me a white screen and says ROBLOX has crashed. I tried wiping my system over and over, but same the still problem. I had even did "Set ROBLOX to Defaults" or something and still didn't work.

[2015-02-16 01:27] jreced commented on #35
alfonsojon already knows about this. Its probably some Wine issue

[2015-02-16 06:38] #34 closed

[2015-02-16 06:40] alfonsojon commented on #35
Not enough info provided. What Linux distribution are you using, and what graphics card do you have?

[2015-02-16 06:42] 5shane1 commented on #35
AMD Graphics and 14.04 MATE...

[2015-02-16 14:46] alfonsojon commented on #35
Do you have proprietary drivers installed? If you are not sure, see here:
https://help.ubuntu.com/community/BinaryDriverHowto/ATI

[2015-02-16 14:47] alfonsojon commented on #35
Run the following commands, actually.
[code]

[2015-02-16 14:48] alfonsojon commented on #35
Following that, reboot, and see if the game works.

[2015-02-16 18:08] 5shane1 commented on #35
Now I'm getting green lines and ROBLOX used to work with games with a lot of bricks and connecters but now it doesn't. I can join any game with like just a baseplate but can't join games like big games.

[2015-02-16 22:37] lecraerocks opened #36 "Roblox Crash"
Ok, so I have a Thinkpad t410 laptop with Ubuntu 14.04 LTS and I installed your Roblox Linux Wrapper, but I am having some issues. The first issue, when I launch a game in Roblox (call of robloxia 5 , summer edition, and all others), the game launches, but just gives me a white screen, or loads slightly then crashes. Then I get an error saying "an unexpected error occured and roblox needs to quit!

[2015-02-16 22:46] lecraerocks commented on #36
UPDATE: a temple run game just worked " http://www.roblox.com/TEMPLE-RUN-TO-FREE-VIP-place?id=216005118 ". Might it be that it does not have as many connectors and blocks?

[2015-02-19 00:14] alfonsojon commented on #36
Can you run the one line command listed on the README (main page) in a terminal, and tell me what error is printed in the terminal?

[2015-02-19 00:15] alfonsojon commented on #35
Green lines?

[2015-02-19 00:16] alfonsojon commented on #36
Duplicate of bug #31.

[2015-02-19 00:16] #36 closed

[2015-02-19 00:17] alfonsojon commented on #35
Duplicate of bug #31.

[2015-02-19 00:17] #35 closed

[2015-02-19 17:59] lecraerocks commented on #36
bash <(wget -q https://raw.githubusercontent.com/alfonsojon/roblox-linux-wrapper/master/rlw.sh -O -)   I ran this command in the terminal and got: Roblox Linux Wrapper v20150206-staging
rmdir: failed to remove ‘/home/landen/.local/share/wineprefixes/roblox-wine-staging’: Directory not empty

(zenity:1180): Gdk-WARNING **: gdk_window_set_icon_list: icons too large

It opened the Wrapper after telli

[2015-02-19 20:06] alfonsojon commented on #36
No problem.

[2015-02-19 20:25] alfonsojon commented on #31
Make sure to install the proper graphics drivers (if applicable), then try again.

[2015-02-19 20:48] lecraerocks commented on #36
Is this what you were wanting?

[2015-02-19 21:16] alfonsojon commented on #36
Try running this in a terminal:
```WINEPREFIX=$HOME/.local/share/wineprefixes/Roblox-wine-staging winetricks ddr=gdi```

[2015-02-19 21:16] alfonsojon commented on #31
Try running this in a terminal:
```WINEPREFIX=$HOME/.local/share/wineprefixes/Roblox-wine-staging winetricks ddr=gdi```

[2015-02-19 21:18] lecraerocks commented on #36
You are using a 64-bit WINEPREFIX. If you encounter problems, please retest in a clean 32-bit WINEPREFIX before reporting a bug.
------------------------------------------------------
Executing w_do_call ddr=gdi
Executing load_ddr gdi
Setting Direct3D/DirectDrawRenderer to gdi
Executing winetricks_early_wine regedit C:\windows\Temp\_ddr=gdi\set-wined3d.reg

This is what I got.

[2015-02-19 21:21] lecraerocks commented on #36
After running the runline command that was on the frontpage I got the same error:

bash <(wget -q https://raw.githubusercontent.com/alfonsojon/roblox-linux-wrapper/master/rlw.sh -O -)
Roblox Linux Wrapper v20150206-staging
rmdir: failed to remove ‘/home/landen/.local/share/wineprefixes/roblox-wine-staging’: Directory not empty

(zenity:10102): Gdk-WARNING **: gdk_window_set_icon_list: icons too la

[2015-02-20 03:33] spedman76 commented on #29
evan@evan-Latitude-D630 ~ $ bash <(wget -q https://raw.githubusercontent.com/alfonsojon/roblox-linux-wrapper/master/rlw.sh -O -)
Roblox Linux Wrapper v20150206-staging
rmdir: failed to remove `/home/evan/.local/share/wineprefixes/roblox-wine-staging': Directory not empty

(zenity:13112): Gdk-WARNING **: gdk_window_set_icon_list: icons too large
fixme:winediag:start_process Wine Staging is a testin

[2015-02-20 16:39] spedman76 commented on #29
ok i got roblox to work i can get into a server but it always crashes on me what do i do?

[2015-02-21 06:30] alfonsojon commented on #36
Those are not errors, you can ignore those.

[2015-02-22 15:20] 5shane1 commented on #31
Well, it still gives the ROBLOX player a white screen, my graphics is perfectly fine. That above command doesn't work either. Right now I am playing around "winetricks" settings. See if I can find something there. I'd blame wine for these crashes, not ROBLOX. Please try and find a fix, also is it working for you, John? If so, could you tell me your settings and what Wine version your are using?

[2015-02-22 15:20] 5shane1 commented on #31
Thank you.

[2015-02-22 17:24] lecraerocks commented on #36
What should I do next then? Should I type something into terminal while the game is crashing?

[2015-02-22 22:23] autospamfighter opened #37 "Roblox Black Screen"
When I launch the script, everything works fine in the web browser... However, when I start a game, the Roblox app just blackscreens. I have a NVIDIA Corporation G98M [Quadro NVS 160M] and am running Roblox on non-legacy mode.

[2015-02-23 00:54] masterdome opened #38 "Wont Play"
When i clicked play it loaded and then said  The program RobloxPlayerBeta.exe has encountered a serious problem and needs to close. We are sorry for the inconvenience.
And then at the bottom This can be caused by a problem in the program or a deficiency in Wine. You may want to check the Application Database for tips about running this application.

[2015-02-24 15:11] alfonsojon commented on #38
Duplicate of #31

[2015-02-24 15:11] #38 closed

[2015-02-24 15:12] alfonsojon commented on #37
Do you have the proper graphics drivers installed? How old is the computer?

[2015-02-24 15:13] alfonsojon commented on #36
No, see the progress on Bug #31. Many others are having the same problem, I'll let you know when I have a fix. Thank you for your reports, and I'm sorry the game does not work!

[2015-02-24 18:02] lecraerocks commented on #36
Ok, thank you for your help.

[2015-02-24 23:05] autospamfighter commented on #37
Computer: mid-2008

I have the Xorg drivers at the moment, Wine says my proprietary drivers are broken.

[2015-02-25 13:46] alfonsojon commented on #37
@autospamfighter That would be why it's not working. You need to look into that issue with Wine, as it's an issue with your system.

[2015-02-25 13:54] RainboomDash commented on #32
Seems fine now.

[2015-02-25 13:57] RainboomDash commented on #37
What NVIDIA driver do you currently have?
dpkg -l | grep -i nvidia

If a driver isn't working properly maybe remove it and readd it?
sudo apt-get purge nvidia-current
sudo apt-get install nvidia-current

[2015-02-25 13:57] RainboomDash commented on #37
I mean, it's just an idea.

[2015-02-26 16:01] alfonsojon commented on #37
@RainboomDash Don't blindly suggest users to install drivers that may or may not be compatible with their system please.

[2015-02-27 23:20] 5shane1 opened #40 "ROBLOX not booting up..."
When I click play ROBLOX, it shows the loading box. But after it goes away, it doesn't pop up with anything.

[2015-02-27 23:20] 5shane1 commented on #40
Bump.

[2015-02-27 23:32] alfonsojon commented on #40
Fixing now!

[2015-02-27 23:32] 5shane1 commented on #40
Thanks.

[2015-02-27 23:33] #32 closed

[2015-02-28 11:17] alfonsojon commented on #40
@5shane1: Try the current release.

[2015-02-28 13:58] Mercury1964 opened #42 "Syntax error with update version 20150206-staging"
Running the new update results in a syntax error:

    Roblox Linux Wrapper v20150206-staging
    /dev/fd/63: line 133: syntax error near unexpected token `;;'
    /dev/fd/63: line 133: `					rwineserver --wait ;;'

This happens when the new version is autoinstalled by  an older version of the wrapper, installed with the "one-line" statement in the README, or downloaded and run directly.

[2015-02-28 14:41] autospamfighter commented on #42
@Mercury1964  Will be fixed soon

[2015-02-28 15:36] 5shane1 commented on #40
Er, I push the wget command and get this,
shane@shane:~$ bash <(wget -q https://raw.githubusercontent.com/alfonsojon/roblox-linux-wrapper/master/rlw.sh -O -)
Roblox Linux Wrapper v20150206-staging
/dev/fd/63: line 133: syntax error near unexpected token `;;'
/dev/fd/63: line 133: `					rwineserver --wait ;;'
...

[2015-02-28 17:24] autospamfighter commented on #40
@5shane1 Try now.

[2015-02-28 17:25] autospamfighter commented on #40
@alfonsojon I'm reverting the pull request. There are a few syntax bugs.

[2015-02-28 17:25] autospamfighter commented on #42
@Mercury1964  Try now.

[2015-02-28 17:32] autospamfighter commented on #42
Try
bash <(wget -q https://raw.githubusercontent.com/alfonsojon/roblox-linux-wrapper/master/rlw.sh -O -)

[2015-02-28 17:32] autospamfighter commented on #40
Try
bash <(wget -q https://raw.githubusercontent.com/alfonsojon/roblox-linux-wrapper/master/rlw.sh -O -)

[2015-02-28 18:24] autospamfighter commented on #37
@RainboomDash I'm using Noveanu drives atm. I'll try my Nvidia drivers later today.

[2015-02-28 19:39] Mercury1964 commented on #42
It works! Thanks!

[2015-02-28 19:39] #42 closed

[2015-02-28 21:53] drewgrif opened #45 "installation error"
drew@drew-ThinkCentre-E93z ~ $ bash <(wget -q https://raw.githubusercontent.com/alfonsojon/roblox-linux-wrapper/master/rlw.sh -O -)
Roblox Linux Wrapper v20150206-staging
/dev/fd/63: line 133: syntax error near unexpected token `;;'
/dev/fd/63: line 133: `					rwineserver --wait ;;'

[2015-02-28 22:31] 5shane1 commented on #40
bash: /dev/fd/63: Permission denied

[2015-02-28 23:10] IdeaIDev commented on #40
ROBLOX is still not starting up on the current release.
But anyways here is the rlw.sh file with the syntax errors fixed.
http://pastebin.com/G2kr3Gcx
Download it and put it on your desktop, then run
bash /home/yourusername/Desktop/rlw.sh
Replace yourusername with your username, of course.

[2015-02-28 23:23] IdeaIDev commented on #45
Download this http://pastebin.com/G2kr3Gcx , put it on your Desktop, and run
bash /home/drew/Desktop/rlw.sh

[2015-02-28 23:32] autospamfighter commented on #45
Try
bash <(wget -q https://raw.githubusercontent.com/autospamfighter/roblox-linux-wrapper/master/rlw.sh -O -))

[2015-02-28 23:33] autospamfighter commented on #40
1st:
wget -q https://raw.githubusercontent.com/autospamfighter/roblox-linux-wrapper/master/rlw.sh -O /tmp/rlw.sh
Then:
cd /tmp/
chmod +x rlw.sh
Finally,
./rlw.sh

[2015-03-01 05:27] eprent opened #46 "Light rendering issue"
Each time I open Studio it is very dark, the light only renders on (usually) a square somewhere far from the center. Aligning the docks (explorer, output, properties, ext.) seems to fix it and all is dandy.

However... SurfaceLights, SpotLights, and PointLights do not render at all. There's no sign of them in Studio.

I haven't been able to test the lighting issue on the game client because it's b

[2015-03-01 05:31] eprent commented on #40
Indeed, it isn't working. However I noticed that it still executes.

For instance, if you look in System Monitor it will show the ROBLOXPlayerBeta process and it's using quite a ton of memory.

[2015-03-01 14:04] 5shane1 commented on #40
Same issue, ROBLOX still doesn't boot the games.

[2015-03-01 16:52] iOptimistic opened #47 "Joining As A Guest"
I have just installed Ubuntu on my Laptop yesterday. I've been working on making Roblox work for my computer. I have Roblox Launcher, Roblox Studio, some Windows things that installed after I copied and pasted a code into Terminal, and Wine.

The thing that I need help with is, I join as a guest. Every time. I lauch the code, put in the number (The URL does not work, so I put in the code [1234567]

[2015-03-01 17:56] eprent commented on #47
Make sure to click

**not**

Basically "Legacy Mode" is the old method of joining games before he got a better working system. If you use the "Play ROBLOX" option it will allow you to login and join a game. :)

[2015-03-02 16:56] alfonsojon commented on #47
Open the "Play Roblox" option, then sign in via Firefox. If that does not work, then there is unfortunately nothing I can do about that. I'm trying to work on a better version of the script which allows for more flexibility with playing the game.

[2015-03-03 15:32] alfonsojon commented on #45
Fixed with pull request #44.

[2015-03-03 15:32] #45 closed

[2015-03-03 16:59] alfonsojon commented on #37
Possible duplicate of #31

[2015-03-03 16:59] #37 closed

[2015-03-03 17:00] alfonsojon commented on #40
@autospamfighter Is it okay if you do not link to your repository from my issues please? I really appreciate the help, but if you have a fix, do kindly open a pull request! Thanks.

[2015-03-03 17:00] alfonsojon commented on #46
I'll take a look. Do you have the Intel GPU drivers installed?

[2015-03-03 20:08] eprent commented on #46
Yep, just updated them.

[2015-03-03 21:00] autospamfighter commented on #40
@alfonsojon Okay

[2015-03-04 06:05] alfonsojon commented on #46
Did that fix anything?

[2015-03-04 11:25] eprent commented on #46
No, I mean as I updated them before writing this.

[2015-03-04 16:37] alfonsojon commented on #46
Ah. I'm looking into it now, I'll keep you updated.

[2015-03-05 16:12] eprent commented on #46
The newest update fixed it. Both in client and studio.

[2015-03-05 16:12] #46 closed

[2015-03-05 21:35] #40 closed

[2015-03-07 15:00] iOptimistic commented on #47
I can't seem to run executable files from my desktop. It wants me to choose
a program, or it opens in a test file.

On Mon, Mar 2, 2015 at 10:56 AM, Jonathan Alfonso <notifications@github.com>
wrote:

[2015-03-07 16:02] autospamfighter commented on #47
Did you try

chmod +x rlw.sh

When you save it on your desktop?

[2015-03-09 00:11] EchoDuplication opened #49 "Error"
After using this for 1 week without any problems I receive a error when joining a game, but not when I use ROBLOX Studio

http://gyazo.com/7ff6314ab53792f9b5dcde9851a25854

I'm using Xubuntu 14.04 LTS and I tried a clean install but it just gives me the same error

Unhandled exception: page fault on read access to 0x7dfdf000 in 32-bit code (0x0058b182).
Register dump:
 CS:0023 SS:002b DS:002b ES:0

[2015-03-10 16:12] autospamfighter commented on #49
What game?

[2015-03-10 20:47] 5shane1 commented on #49
Confirmed, it does it with all the games for me.

[2015-03-11 00:01] EchoDuplication commented on #49
All games, not just one.

[2015-03-12 19:49] ArtinPerosteck commented on #49
Using Linux Mint here, but I have exactly the same issue. If it is any use, I am also missing a "Reset to defaults" button when I open the wrapper.

[2015-03-13 12:07] autospamfighter commented on #49
@ArtinPerosteck  The Reset to Default is the Reinstall button.

[2015-03-15 20:51] HeroCC commented on #49
Same, with all games

[2015-03-16 12:48] alfonsojon commented on #30
I can't seem to reproduce this. Is it working properly now?

[2015-03-16 12:49] alfonsojon commented on #47
This seems to be working fine for me. Can you reproduce this?

[2015-03-16 14:20] Gskartwii commented on #30
I now get the following output:

	16:19:05.004 - Use the new http api: no
	16:19:06.712 - httpGet http://www.roblox.com/game/GetCurrentUser.ashx failed. Trying again. Error: http://www.roblox.com/game/GetCurrentUser.ashx: HttpAddRequestHeaders failed, err=0x2F79.  Elapsed time: 0
	16:19:06.712 - httpGet http://clientsettings.api.roblox.com/Setting/QuietGet/ClientAppSettings/?apiKey=D6925E56-BFB9-4

[2015-03-16 14:28] alfonsojon commented on #30
Are you using RLW version 20150316?

[2015-03-16 15:32] Gskartwii commented on #30
Yes.

[2015-03-16 17:41] eprent commented on #30
[I have this as well, ](http://i.imgur.com/WkLL7Yi.png). It loads halfway and then refuses to connect, if that helps any. Almost sounds like it would be a firewall issue if it was on Windows.

[2015-03-16 20:30] EchoDuplication commented on #49
Can we get a fix for this?

[2015-03-17 03:16] alfonsojon commented on #49
Still looking into this, it's related to wininet, but I'm looking for the underlying cause.

[2015-03-17 03:16] alfonsojon commented on #30
@Gskartwii I have the script set to use the recommended version of Wine automatically. I suggest using stock Wine for now. I'm looking into this, but it is difficult as it is a Wine bug.

[2015-03-17 06:22] Gskartwii commented on #30
While I was using stock Wine I was experiencing an error while joining games. I might open an issue for that later.

[2015-03-17 13:39] alfonsojon commented on #30
Okay, thanks for the report. I need to test further, still...

[2015-03-17 13:40] alfonsojon commented on #30
I apologize for the slow progress, I do most of my work at school, which also blocks Roblox. As they block access to Roblox, I can't test easily. Sorry!

[2015-03-19 17:36] eprent opened #54 "Not installing properly"
Likely just a personal issue - but when I try to install it returns this error:

    namehere:~$ bash <(wget -q https://raw.githubusercontent.com/alfonsojon/roblox-linux-wrapper/master/rlw.sh -O -)
    Roblox Linux Wrapper v20150319-stable
    fatal: Not a git repository (or any of the parent directories): .git
    fatal: Not a git repository (or any of the parent directories): .git

Ubuntu 14.04

[2015-03-19 18:25] alfonsojon commented on #54
Try this: sudo apt-get install git

[2015-03-19 18:27] eprent commented on #54
Returns the same error.

[2015-03-19 18:28] alfonsojon commented on #54
I'll take a look, the issue is with the new updater. I'll try to reproduce it.

[2015-03-20 02:39] alfonsojon commented on #54
Confirmed, will fix shortly.

[2015-03-20 04:54] alfonsojon commented on #54
Releasing a fix shortly.

[2015-03-20 05:04] alfonsojon commented on #54
@eprent Should be working now.

[2015-03-20 05:09] eprent commented on #54
Yep! The install is working.

[2015-03-20 05:09] #54 closed

[2015-03-20 05:34] alfonsojon commented on #49
@HeroCC @EchoDuplication @ArtinPerosteck @5shane1 @autospamfighter Should be working now.

[2015-03-20 05:36] alfonsojon commented on #47
Closed, should be working.

[2015-03-20 05:36] #47 closed

[2015-03-20 05:37] alfonsojon commented on #30
@Gskartwii Try running it now (be sure to try the "Reinstall Roblox" option first!)

[2015-03-20 05:39] eprent commented on #49
@alfonsojon Plugin isn't working in Firefox and using Legacy returns this error:

    C:\users\dylan\Local Settings\Application Data\Roblox\logs\
    fixme:ver:GetCurrentPackageId (0x32f9b8 (nil)): stub
    fixme:win:EnumDisplayDevicesW ((null),0,0x32e7b8,0x00000000), stub!

[2015-03-20 12:58] alfonsojon commented on #49
@eprent Reinstall, then try again.

[2015-03-20 23:24] eprent commented on #49
@alfonsojon Doesn't help. Everything but playing games works flawlessly.

I get this error:

    Unhandled exception: page fault on read access to 0x7de98000 in 32-bit code (0x0058d462).
Register dump:
 CS:0023 SS:002b DS:002b ES:002b FS:0063 GS:006b
 EIP:0058d462 ESP:0033f7d0 EBP:0033f7e0 EFLAGS:00210283(  R- --  I S - - -C)
 EAX:00000000 EBX:95a78d91 ECX:426b1eb2 EDX:edf07fd0
 ESI:b961ec82 EDI:7

[2015-03-21 09:28] Gskartwii commented on #30
No luck. This time the error occurs on line 203.

[2015-03-21 21:46] HeroCC commented on #49
Still getting an error: http://pastebin.com/7zJj2ezR

[2015-03-22 03:23] lexelby commented on #49
I ran into the page fault issue after installing for the first time with a version from earlier this month.  I grabbed the latest version and it set up an entirely new wine prefix.  This time, when I click "play" in wine-firefox, it asks if I want to launch roblox player, but it never actually launches it.  Is anyone else having this problem?  Total roblox noob here, just trying to set it up for m

[2015-03-22 05:47] alfonsojon commented on #49
@lexelby In Firefox, make sure to allow the plugin.

[2015-03-22 11:55] lexelby commented on #49
Yup, I clicked "allow and remember".  Just in case I screwed that up, I had the wrapper reinstall and tried again, but that didn't help.

[2015-03-22 13:39] HeroCC commented on #49
@lexelby go to about:addons in firefox, and make sure ROBLOX is set to Always Activate

[2015-03-22 18:23] Gskartwii commented on #49
^ For some reason it sometime does that automatically, but sometimes I have to do it myself.

[2015-03-22 18:25] Gskartwii commented on #49
@lexelby Having the same problem. I have tried to reinstall multiple times. Legacy mode works though.

[2015-03-23 16:44] ArtinPerosteck commented on #49
I'm experiencing the same issue as lexelby, and in my case even setting the addon to always activate does not have any effect. I also tried playing in legacy mode but got a "serious error" message like the one described at the top of this issue. Reinstalling does not have any effect. Studio works fine.

[2015-03-24 22:57] racquelL opened #56 "not allowing me to play roblox"
I am unable to play roblox in linux, it has installed however the allow or allow and remember keeps coming up. now its not coming up for me to click on it. this happens everytime i click on play on one of the games. also i get this error message 'wine closed unsuccessfully. See terminal for details. (exit code 1) on the very top of this error message it says, Roblox Linux Wrapper v2015032-... plea

[2015-03-24 22:59] Triggatomic opened #57 "Annoying error"
UPDATED: I had an error and now its gone just delete this thread cause idk how

[2015-03-24 23:03] #57 closed

[2015-03-24 23:06] Triggatomic opened #58 "Annoying error"
I am a Linux newbie. I have wine installed but when I enter the command to install roblox it says missing dependencies... Please can I have a fix? cabextract git shasum wget wine wine-staging zenity
does not work.

[2015-03-25 04:16] alfonsojon commented on #58
What does it tell you to install?

[2015-03-25 04:21] racquelL commented on #58
Hi Alfonsojon, did you see my question? can you help?

[2015-03-25 12:39] racquelL opened #59 "roblox wont play"
I am so new at this, ok the bellow information is what i copied of my terminal, I realized it had a system32 and the error, my laptop is 64bits could that be the problem for me not able to play roblox? roblox downloaded using your link, it opens when i log in but when i click on play it gives me the prompt to allow or allow and remember. after I click that nothing happens. I click play again and i

[2015-03-25 15:10] Triggatomic commented on #58
Nevermind I fixed it but now I have a different problem... it says to allow roblox but I dont see the button to click allow...
And when I try legacy mode it just crashes and says "ROBLOX encountered an  error and needs to close" Idk why this happens please help.

[2015-03-26 04:43] alfonsojon commented on #49
Is this working in 20150325?

[2015-03-26 11:38] racquelL commented on #49
ok is anyone seeing my messages? I have not gotten any response to it? please help?

[2015-03-26 11:50] racquelL commented on #49
my laptop is a 64 bit is that going to be a problem? can you help me please get roblox on here so my son can play again!!...lol i feel like a total noob!

 bash <(wget -q https://raw.githubusercontent.com/alfonsojon/roblox-linux-wrapper/master/rlw.sh -O -)
Roblox Linux Wrapper v20150325-master
wine: WINEARCH set to win32 but '/home/racquel/.wine' is a 64-bit installation.

---
Cloning into '/home/

[2015-03-26 11:51] racquelL commented on #49
here is some more its not doe yet...
wine: created the configuration directory '/home/racquel/.rlw/roblox-wine'
p11-kit: couldn't load module: /usr/lib/i386-linux-gnu/pkcs11/p11-kit-trust.so: /usr/lib/i386-linux-gnu/pkcs11/p11-kit-trust.so: cannot open shared object file: No such file or directory
fixme:urlmon:DownloadBSC_OnProgress Unsupported status 3
fixme:wininet:InternetLockRequestFile STUB
e

[2015-03-26 11:56] racquelL commented on #49
now i understand my roblox is not working on my laptop cause i have a 64bit so how can i fix this please help?

[2015-03-26 11:57] racquelL commented on #49
fixme:storage:create_storagefile Storage share mode not implemented.
err:mscoree:LoadLibraryShim error reading registry key for installroot
err:mscoree:LoadLibraryShim error reading registry key for installroot
err:mscoree:LoadLibraryShim error reading registry key for installroot
err:mscoree:LoadLibraryShim error reading registry key for installroot
fixme:storage:create_storagefile Storage share

[2015-03-26 14:38] Triggatomic opened #60 "NEW ANNOYING Error"
Everytime I click play it just says to allow but I can't.
When I try Legacy mode it crashes.
Help

[2015-03-26 17:10] ArtinPerosteck commented on #60
Exact same issue here.

[2015-03-26 17:18] ArtinPerosteck commented on #49
@alfonsojon I just installed and tried it with 20150325 and am still experiencing the same issues.

[2015-03-26 17:44] RainboomDash commented on #49
Issue is still persistent.

[2015-03-26 20:59] Triggatomic commented on #60
Someone help???

[2015-03-27 01:35] racquelL commented on #60
ok no one is paying attention to my issues?? why?

[2015-03-27 04:53] alfonsojon commented on #59
Try again with 20150326, it should auto update.

[2015-03-27 04:53] #58 closed

[2015-03-27 04:54] alfonsojon commented on #60
Duplicate of #56. Also, this should be fixed in 20150326.

[2015-03-27 04:54] #60 closed

[2015-03-27 04:55] alfonsojon commented on #49
Can you try again with 20150326? I changed a good bit of stuff, so things should run nicer.

[2015-03-27 04:55] alfonsojon commented on #30
@Gskartwii Is this working now?

[2015-03-27 04:56] alfonsojon commented on #56
Is this working in build 20150326?

[2015-03-27 05:01] alfonsojon commented on #60
@racquelL I try my best to support it, but I am not employed by Roblox. This program was made in my free time; I'm in high school and work daily after school. Given my schedule, it's hard to fix an issue the second it is found; however, I aim to get them fixed as soon as possible.

[2015-03-27 05:05] alfonsojon commented on #49
@racquelL The issue is not because the laptop is 64-bit. Roblox uses a plugin (RobloxProxy.dll) to launch games. When you click "Play", Firefox sends the info to RobloxProxy.dll, and RobloxProxy.dll sends it to Roblox. What happened was RobloxProxy.dll was not being installed correctly, so the game info couldn't be sent, maknig Roblox think it was not installed, even though it was.

[2015-03-27 06:15] Gskartwii commented on #30
Sadly, no. It's all the same as before.

[2015-03-27 10:59] racquelL commented on #60
wow ok thank you...I am impressed!

[2015-03-27 13:40] alfonsojon commented on #60
@racquelL Thanks!

[2015-03-27 13:41] alfonsojon commented on #30
@Gskartwii That's unfortunate... Can you give me these specs of your system -
Operating System (32 or 64 bit):
GPU
Proxy info
VPN?

[2015-03-27 13:55] Gskartwii commented on #30
I'm on Ubuntu 15.04 "Vivid Verlet" 64-bit
My GPU is GeForce GTX 560 Ti.
I'm not using a proxy nor a VPN.

[2015-03-27 14:13] alfonsojon commented on #30
Have you tried reinstalling since the last update? I don't know if it will
work, but your configuration may be out of date (new RLW, but old wine
prefix). I honestly doubt that this will fix it, but we can hope it will
work. Please keep me updated if this does work!

On Fri, Mar 27, 2015 at 8:55 AM, Gskartwii <notifications@github.com> wrote:

[2015-03-27 14:14] alfonsojon commented on #30
@eprent About that issue, it should be taken care of as of 20150320. That was (unfortunately) unrelated to the current issue.

[2015-03-27 15:04] Gskartwii commented on #30
Yea, still doesn't work...

[2015-03-27 21:13] alfonsojon commented on #30
@Gskartwii I'm not sure about how the avahi daemon works. Can you try re-enabling it?

[2015-03-28 00:47] racquelL commented on #30
Hey have you checked on my situation yet and how do i use that number in the terminal what is the command to make the comand line you gave for the roblox wrap? i am a total dummy in this...

[2015-03-28 08:01] Gskartwii commented on #30
Apparently Avahi is used for finding what computers are connected to the local network and my has done something so that it doesn't work (Don't know why)

[2015-03-28 12:36] racquelL commented on #30
it does not give me the allow and allow and remember button anymore...it seemed like it is working but then i got this message...Program Error   the program Roblox PlayerBeta.exe has encountered a serious problem and needs to close. We are sorry for rhe inconvenience. This can be caused by a problem or a deficiancy in Wine. You may want to check the Application Database for tips about runing this

[2015-03-28 17:39] alfonsojon commented on #30
@racquelL Please open a separate issue to report that, rather than commenting on any open issue reports.

[2015-03-28 17:40] alfonsojon commented on #30
@Gskartwii So, from what I've gathered, CURL cannot use SSL (HTTPS) on your system for some odd reason. Even if it did, the game wouldn't work, as it requires SSL (HTTPS). Do websites that use SSL, such as Gmail work properly?

[2015-03-28 20:31] Gskartwii commented on #30
They do; they are probaly using a different library.
I checked what line 203 was in gameserver.ashx. It's the one starting the network server. Since other kinds of network servers like nginx work on my system, I'm guessing that it's a Wine bug.

[2015-03-29 00:48] eprent opened #61 "ROBLOX Studio - Asset loading is not working"
Starting from the latest update, you haven't been able to load any sort of asset (meaning asset, model, player, etc ) and it's basically causing Studio to be unusable.

It's not because of a ROBLOX update - I have tried with a previous version of the script I saved before and Studio runs fine.

[2015-03-29 01:15] racquelL opened #62 "i am getting program error stil"
it does not give me the allow and allow and remember button anymore...it seemed like it is working but then i got this message...Program Error the program Roblox PlayerBeta.exe has encountered a serious problem and needs to close. We are sorry for rhe inconvenience. This can be caused by a problem or a deficiancy in Wine. You may want to check the Application Database for tips about runing this ap

[2015-03-29 15:46] LilNinja5181 commented on #19
I actually received this error again today for Roblox, I just installed it as I had to reinstall Ubuntu however, before Roblox worked without a problem but this time the error occurred again. I tried to run Roblox and it said: "Runtime error! Program: C:\users\minyoung\Local Settings\Application Data\RobloxVersions\version-f9d6d23b9blb466e\RobloxPlayerBeta.exe abnormal program termination Press OK

[2015-03-31 22:02] alfonsojon commented on #62
Open a terminal, and paste the following after closing everything:

```rm -rf ~/.rlw && /usr/bin/env bash <(wget -q https://raw.githubusercontent.com/alfonsojon/roblox-linux-wrapper/master/rlw.sh -O -)```

[2015-03-31 22:16] alfonsojon commented on #61
I'll look into this, thanks for the report.

[2015-04-01 03:02] racquelL commented on #62
i did and I saw the same error as above. would it make a difference if my laptop is a 64 bit? I really need roblox on my laptop....i saw a message in the terminal about the 32 bit....please help..

[2015-04-01 07:53] alfonsojon commented on #62
It does not matter if the laptop is 32 bit or 64 bit. I'm looking into the issue, but I can't seem to reproduce it.

[2015-04-01 20:35] masterdome commented on #62
It does not work for me either I entered the code and It still said the error

[2015-04-01 23:55] GLolol commented on #62
What version of Wine are you using? Try running the following in a terminal:

[code]

[2015-04-02 02:58] masterdome commented on #62
@GLolol I have wine-1.4.1

[2015-04-02 03:39] masterdome commented on #62
I think that version does not work I used the Software Center now I'm trying the terminal command

[2015-04-02 03:51] masterdome commented on #62
Now i have 1.7.18 but, it still says that error when I launch a game

[2015-04-02 05:31] GLolol commented on #62
Wine 1.7.18 is pretty old (May 2014). The development newest version is 1.7.39, which worked fine for me. Anything older (1.4, 1.6.x, etc.) is probably too old to play the game.

I'm guessing (from the software versions and the "Software Center") that you are on Ubuntu Precise? [The packages there](https://launchpad.net/~ubuntu-wine/+archive/ubuntu/ppa?field.series_filter=precise) seem to be quite

[2015-04-02 05:36] GLolol commented on #49
What Wine version is being used? You can find this by running the following in a terminal:

[code]

Anything below 1.7 may in fact be too old to play the game. I've had crashes (just like the screenshot you posted) with Wine 1.6.2, and fetching a newer version fixed the problem. Wine 1.7.x is currently Wine's development version: installation instructions for Ubuntu can be found [here](https://www

[2015-04-02 11:23] alfonsojon commented on #49
@GLolol D'oh! I forgot that most users are not using Wine 1.7! I'll be opening an issue for that specifically.

[2015-04-02 11:25] alfonsojon opened #63 "Check for wine version"
Many users are encountering problems, most likely due to the version of wine installed. Currently, Wine 1.7 is required, so the wrapper should do some math to figure out if the version installed is greater than or equal to 1.7.

[2015-04-02 11:57] alfonsojon commented on #63
Implemented in 20150402.

[2015-04-02 11:57] #63 closed

[2015-04-02 13:53] racquelL commented on #63
it works now thank you so much!!

[2015-04-02 14:56] masterdome commented on #62
k Thanks

[2015-04-02 15:00] masterdome commented on #62
Its updating now :)

[2015-04-02 16:48] masterdome commented on #62
Would 14.04 be alright

[2015-04-02 16:58] GLolol commented on #62
Yes, now you can get the latest Wine following [these instructions](https://www.winehq.org/download/ubuntu).

[2015-04-02 18:11] masterdome commented on #62
It works now Thanks

[2015-04-02 18:58] alfonsojon commented on #62
Closed, fixed.

[2015-04-02 18:58] #62 closed

[2015-04-02 18:59] alfonsojon commented on #59
Closed, fixed.

[2015-04-02 18:59] #59 closed

[2015-04-02 19:00] alfonsojon commented on #56
Closed, fixed.

[2015-04-02 19:00] #56 closed

[2015-04-02 19:01] alfonsojon commented on #31
Does this work with the latest wrapper?

[2015-04-03 22:50] Z0MBIE2 opened #64 "Game constantly stops responding when attempting to play."
Ten seconds, a minute after joining using the Play Roblox option and joining a game with that browser, the game will stop responding. This is the terminal log:
[code]
I barely got all of this to work in the first place, and now it's crashing on me...

[2015-04-03 22:59] GLolol commented on #64
What version of Wine are you using?

In the future, you can wrap your logs between two sets of \`\`\`, so they are escaped properly:

\`\`\`

(post logs here)

\`\`\`

[2015-04-04 00:26] eprent commented on #64
I'm having this as well since the latest ROBLOX update, though I am running a different version of the script... Must be something from ROBLOX.

It only happens 50% of the time for me, however.

[2015-04-04 00:31] GLolol commented on #64
That is strange... Can you try the latest version of the wrapper? I'm sure [a lot has changed](https://github.com/eprent/roblox-linux-wrapper/compare/master...alfonsojon:master).
Also, I should have clarified: you can find your Wine version by running the following command in a terminal:

[code]

[2015-04-04 00:39] eprent commented on #64
@GLolol I don't run the latest version of the script due to incompatibility's with my graphics card. I forked it a while ago and use that version.

[2015-04-04 00:52] GLolol commented on #64
Graphics card? I didn't think that would affect anything - what errors do you get if you try it now?

[2015-04-04 01:30] racquelL opened #66 "In this about Roblox or can i ask for help on other issues with Linux?"
I am going to try to get help from anyone on this here...i am attempting to install linux on my desktop it does fine until it is trying to install the gurb...it says....unable to install GRUB in /dev/sda
executing 'grub-install /dev/sda'failed. this is a fatal error.

then sorry an error occured and it was not possible to install the  bootloader at the specific location.
choose a different device

[2015-04-04 01:35] eprent commented on #66
This is only for ROBLOX issues, but just to fix your issue.. On the live disc install this via terminal. It's a recovery system to fix this.

https://help.ubuntu.com/community/Boot-Repair

[2015-04-04 05:37] Z0MBIE2 commented on #64
1.7.38. I downloaded it today and the wrapper today. It started working and not crashing a bit after, but then when I later exited the terminal and started this up again it will crash constantly again, except it will show an error instead of just stop responding. "An unexpected error has occured and roblox needs to quit. We're sorry!"

[2015-04-04 10:22] alfonsojon commented on #66
@racquelL Only for Roblox issues, but the link @eprent posted is valid. Good luck!

[2015-04-04 10:22] #66 closed

[2015-04-04 10:26] alfonsojon commented on #64
@eprent You can run my version, but apply the ```ddr=opengl``` winetricks patch to the wineprefix. This should fix graphical issues on systems running GNOME Shell or Elementary OS, although it's not a guaranteed fix.

[2015-04-04 11:10] racquelL commented on #66
ok thanks guys it didnt work so i will send the report to the above info. much appreciate your help

[2015-04-06 06:07] jreced opened #68 "I got this error after the update"
fatal: Not a git repository (or any of the parent directories): .git

It also says I need to install Wine or wine-staging even though I have both installed.

[2015-04-06 06:29] GLolol commented on #68
..Um, I may have broken something in the last update. Working on a fix now.

[2015-04-06 06:44] GLolol commented on #68
I've reverted the changes I've made, temporarily fixing this.

@alfonsojon There are some git specific things in my changes that broke direct execution via wget. I'm reverting them now. For stability purposes (since we're dealing with multiple files), maybe it might be beneficial to *require* a `git clone` for the script to work. After all, git is already a dependency.

Sorry for making a mess :(

[2015-04-06 06:52] alfonsojon commented on #68
That's okay, glad you reverted. Thanks for the effort anyways!

On Mon, Apr 6, 2015, 01:44 James Lu <notifications@github.com> wrote:

[2015-04-06 07:04] GLolol commented on #68
I'll work out the kinks and everything tomorrow (I promise). I have to sleep...

[2015-04-07 15:31] Gskartwii opened #70 "Enchancement: Add an option to redirect Wine output to a file"
Often while playing my terminal gets flooded with fixme stuff.
Because of this, I think that there should be an option to redirect both stdout and stderr to a file, or at least give an option for /dev/null.

[2015-04-07 21:51] autospamfighter commented on #70
I think this is doable. HOW exactly is anyone's guess. A config file would be confusing, options at install not changeable...

[2015-04-07 23:16] GLolol commented on #70
These can be turned off using the WINEDEBUG environment variable. You can set that in your `bashrc` or whatever you use. [Source](http://wiki.winehq.org/FAQ#head-51e2c09a43f0ac997f818617bec098e97170c503)

I'm not sure if we should apply these globally. These fixmes can be useful if anyone wants to debug Wine.

[2015-04-08 01:11] GLolol commented on #68
@jreced This should be fixed now. If it still does not work, try removing the RLW directory: `rm -r ~/.rlw`, and redownload the script.

[2015-04-08 01:11] #68 closed

[2015-04-08 05:12] Gskartwii commented on #70
Thanks, that was useful. I'm still getting some output from zenity, but that's okay.

[2015-04-08 13:24] #70 closed

[2015-04-08 19:34] alfonsojon opened #71 "Make native browser w/API usage"
Given that Roblox now has an API which can be used for authentication, the full Firefox build is overkill. A better solution is to authenticate with the API, then call wine directly from the browser without using the Roblox plugin. This would make the functionality similar to that of the old Roblox Browser.

API reference here:
https://github.com/matthewdean/roblox-web-apis

Demo in XUL (currently

[2015-04-08 19:39] alfonsojon commented on #71
This should be useful:
http://stackoverflow.com/questions/4315111/how-to-do-http-request-call-with-json-payload-from-command-line

[2015-04-12 06:01] alfonsojon commented on #64
@Z0MBIE2 Can you give us details about your system, such as your graphics card, and if drivers are installed for it?

[2015-04-12 06:02] alfonsojon commented on #61
@eprent It seems to be working fine for me, can you still reproduce this?

[2015-04-12 06:02] alfonsojon commented on #49
@EchoDuplication Can you still reproduce this?

[2015-04-12 06:02] alfonsojon commented on #31
Closed due to inactivity, assumed fixed.

[2015-04-12 06:02] #31 closed

[2015-04-12 17:00] martywd opened #72 "as of: 20150412 -- rlw.sh error, roblox.desktop issue"
Using the new instructions I did the 'git clone ...' command which creates the 'roblox-linux-wrapper' directory in root of the users folder, and the 'xdg-desktop-menu...' command which places a 'Roblox...' menu item in 'Games'.  All good so far.  But....

Then click on 'Menu|Games|Roblox...' .  Nothing happens.  So to the issues.

The 'roblox.desktop' file is still referencing '$HOME/.rlw/' for co

[2015-04-12 19:00] GLolol commented on #72
The `roblox.desktop` is thoroughly broken right now. #69 has some details in the later comments.

[2015-04-12 19:02] GLolol commented on #72
The syntax error should be fixed in c64febb.

[2015-04-12 19:05] alfonsojon commented on #72
My bad! Fixing now.

[2015-04-12 19:09] alfonsojon commented on #72
I'm sorry about this, this was due to an incomplete commit I made. Thanks @GLolol for fixing it.

[2015-04-12 19:47] GLolol commented on #72
Fixed by #69. If it still doesn't work, try running `xdg-desktop-menu uninstall --mode user roblox.desktop`, and then the script again.

[2015-04-12 19:47] #72 closed

[2015-04-12 22:40] alfonsojon opened #73 "Desktop file installation fails from other directories"
Try to fix desktop file installation if not in the current directory

Mentioned by @martywd

[2015-04-13 00:05] GLolol commented on #73
Fixed in latest master.

[2015-04-13 00:05] #73 closed

[2015-04-13 06:04] GLolol commented on #64
I get freezes *sporadically* when I run the game via Wine. It's probably Wine's fault, not ours.

[2015-04-15 19:03] eprent opened #76 "Cairo-Dock cuts off Studio"
Likely a Wine bug because of resizing, however it completely cuts off the bottom.

I haven't blamed Cairo-Dock for the bug yet because:
1. Everything else works
2. Even when you resize Studio it still does it (look in photos)

Photo album of it happening:
http://imgur.com/a/UVSk3

[2015-04-15 19:04] eprent commented on #61
@alfonsojon Sorry about that - It started working the update after I posted this, but yes it's working flawlessly now.

[2015-04-15 19:04] #61 closed

[2015-04-15 19:11] iiShadster opened #77 "Black screen"
So roblox launches correctly, I can play the game for a period of time then all of a sudden my screen goes black causing me to restart my computer. This happens everytime I play roblox with the RLW.

[2015-04-15 23:36] GLolol commented on #77
Can you give the following details?

* Wine version (run `wine --version` in a terminal to find it)
* OS name and version
* Graphics card model and driver used

[2015-04-15 23:38] GLolol commented on #76
RLW is a simple-ish wrapper around Wine; we don't fiddle much with graphics settings ourselves. That said, could you post the following details?

* Wine version (run `wine --version` in a terminal to find it)
* OS name and version
* Graphics card model and driver used

[2015-04-16 01:39] eprent commented on #76
Wine version: wine-1.7.40 (Staging)

OS name: Ubuntu 14.04 running a modified version of Cinnamon DE

Intel HD Graphics and  whatever graphic drivers are built into Ubuntu, don't have the Intel ones because they dropped 14.04 support

[2015-04-16 03:34] alfonsojon commented on #76
@eprent Can you try to enable autohide on the dock? While this is not a solution, it may be a good workaround. This issue seems to be between wine and cairo-dock, which neither are under our control.

[2015-04-16 03:53] eprent commented on #76
@alfonsojon [I did this as a workaround](https://twitter.com/ItsEprent/status/588550306448875522), and is there anywhere I can contact Wine?

[2015-04-16 14:29] alfonsojon commented on #76
@eprent https://bugs.winehq.org/

Don't report an issue unless you're *really* comfortable with debugging. They will ask very detailed questions, such as opening Cairo dock in debug mode.

[2015-04-16 15:23] alfonsojon commented on #30
@Gskartwii Can you test this in a virtual machine with an out-of-box OS installed, with only the dependencies installed? If it works in the VM, then the issue is most likely system-specific and cannot be fixed by the wrapper. If it does not work in the VM either, I'll try to find the root cause of the issue.

[2015-04-16 15:27] alfonsojon commented on #49
This should be fixed as of 20150412, although I am not certain.

[2015-04-16 16:48] GLolol commented on #30
It seems like Avahi is having a conflict with what's possibly your ISP's DNS settings:

http://avahi.org/wiki/AvahiAndUnicastDotLocal
https://bugs.launchpad.net/ubuntu/+source/avahi/+bug/327362

[2015-04-16 17:19] eprent commented on #76
Ok thanks @alfonsojon.

[2015-04-16 17:19] #76 closed

[2015-04-16 17:36] ghost opened #78 "Test Solo not fully loading"
It freezes execution half way. [Picture](https://twitter.com/ItsEprent/status/588757251512401920)

**Specs:**
* Intel HD Graphics (onboard)
* Ubuntu 14.04
* Latest Wine version

After further research, it only happens when a script is using memory at the time. No idea why.

[2015-04-16 17:40] eprent commented on #78
Sorry! Apparently all of ROBLOX is having an issue with GUI replication causing ROBLOX, not a RLW bug.

[2015-04-16 18:09] Gskartwii commented on #30
@alfonsojon Thanks for your effort. I happened to find an old VM with Precise. I'll let it take its time to upgrade (to get a newer version of Wine) and will post again.
@GLolol I don't think that Avahi is the problem here since it's only used for finding computers connected to the local network.

[2015-04-16 18:18] IdeaIDev opened #79 "Studio not uploading"
"You must log in to perform this action."
I have reinstalled twice, logged out and logged back in several times, tried on different accounts, yet this issue is still present.
http://i.imgur.com/rfzpuhO.png - Error message.
http://i.imgur.com/qvhdryh.png - I am logged in.

[2015-04-16 18:49] GLolol commented on #30
If your ISP is also mapping addresses to `.local`, there will be a conflict.

[2015-04-16 18:53] GLolol commented on #78
Can you elaborate? Is this reproducible with the latest version of RLW in master?

[2015-04-16 20:13] eprent commented on #78
Yes it's the latest version, when I have scripts or GUI somewhere in the game, Studio will only load half way. Otherwise (let's say it's only a map) it loads flawlessly.

[2015-04-17 02:57] alfonsojon commented on #79
Odd... I'll be testing this shortly.

[2015-04-17 03:42] ghost opened #80 "The new install/uninstall method is really buggy."
Seriously.

* Installing is a lot more advanced than it should be, not sure why you would make it more complicated.
* The "Reinstall ROBLOX" method doesn't work at all, corrupts everything and attempting to launch anything will result  in the "Wine has closed" error.
* Not sure why; but "Uninstall ROBLOX" has been removed, not sure why but was a lot easier then doing it manually.

Ever since that

[2015-04-17 03:43] eprent commented on #79
Works fine for me, might be system specific. @alfonsojon

[2015-04-17 05:10] GLolol commented on #80
The installation methods have really changed a lot throughout the last few updates. It's not backwards compatible. Yes, it's buggy. And it's frustrating to maintain.

Right now, the only thing "installation" does is add a nice little `.desktop` entry to the current location of `rlw.sh`, so that it can be accessed from an Application Menu. The problem with is that they require a fixed path, and `rl

[2015-04-17 06:17] eprent commented on #80
How do you update it now? It doesn't give me the update available prompt. @GLolol

[2015-04-17 06:19] GLolol commented on #80
`cd` into the script directory and run `git pull`.

[2015-04-17 06:22] eprent commented on #80
Does it autoupdate? "already up to date" and a update came out almost an hour ago @GLolol

[2015-04-17 06:36] Gskartwii commented on #79
I was having the same problem a few months ago.
It was a SSL handshake error.

[2015-04-17 14:38] GLolol commented on #80
It should autoupdate - the script runs `git pull` when it starts.

[2015-04-17 15:27] alfonsojon commented on #80
@eprent I removed the uninstaller because I thought it'd be easier to delete a folder and a file than to modify the script to try and find out where it's installed. @GLolol Should I revert back to the former installation mechanism, with the one-line install?

[2015-04-17 15:28] alfonsojon commented on #79
@Gskartwii Also working fine for me, I'm not able to reproduce this.

[2015-04-17 17:04] GLolol commented on #80
@alfonsojon The script wouldn't work that way where it currently stands.

[2015-04-17 17:34] GLolol commented on #80
@alfonsojon The script already knows where it exists, thanks to $BASH_SOURCE. This allows it to call commands/scripts in its own directory, and more.

[2015-04-17 18:46] InvalidInvoke commented on #79
@alfonsojon I'm @IdeaIDev, just made a new account. I'm not really for sure what triggers it. One day it just stopped working correctly; I've completely uninstalled everything related to rlw, and then reinstalled. Everything is working fine now.

[2015-04-17 19:14] GLolol commented on #80
I realize that the updater logic is flawed - The script calls git pull on run, but runs the older version of rlw.sh instead of hot loading the new one.

[2015-04-18 00:59] EchoDuplication commented on #49
http://gyazo.com/d690d73e70aecd280cbb98341e970f85

[2015-04-18 01:02] GLolol commented on #49
Well, that's not very helpful. @EchoDuplication A lot of the script's internals have changed in the last few   updates, so directly updating from older versions might not work anymore.

To purge the old version of the script and install the new one, open a terminal prompt somewhere and run the following:

[code]

You can clone the script into a different directory if you wish.

[2015-04-18 01:13] EchoDuplication commented on #49
Sorry, forgot to mention I already reinstalled on a new system. (Ubuntu Gnome 3.16)

That was the error I received after a fresh install.

wine: WINEARCH set to win32 but '/home/echo/.local/share/wineprefixes/roblox-wine' is a 64-bit installation.

[2015-04-18 01:29] GLolol commented on #49
Oh. You need to have 32-bit Wine installed on your computer for Roblox to work. Try installing `wine1.7-i386` from apt. If it fails, you may need to turn on [Multiarch](https://wiki.debian.org/Multiarch/HOWTO).

[2015-04-18 01:36] EchoDuplication commented on #49
I already have the wine1.7-i386 package: http://gyazo.com/76cfb93399a2027e08d8640a785c786e

[2015-04-18 01:39] GLolol commented on #49
Okay. Something bad happened to your poor wineprefix there... Try clicking Reinstall Roblox or just run `rm -rf ~/.local/share/wineprefixes/roblox-wine`.

[2015-04-18 01:44] EchoDuplication commented on #49
After running the command and opening up the application it asks me to install a working wine prefix, and then gives me the same error.

---

---
wine: WINEARCH set to win32 but '/home/echo/.local/share/wineprefixes/roblox-wine' is a 64-bit installation.

[2015-04-18 01:51] GLolol commented on #49
7a763ca should fix this. [It's actually a bug in Wine!](https://bugs.winehq.org/show_bug.cgi?id=29661)

To update: run `git pull` in the script directory, remove the `~/.local/share/wineprefixes/roblox-wine`, and start rlw.sh again.

[2015-04-18 01:59] EchoDuplication commented on #49
Thanks!

Everything is working now :)

[2015-04-18 01:59] #49 closed

[2015-04-18 02:07] GLolol opened #81 "Auto-updater logic is a bit flawed"
Right now the script calls `git pull` on run, but runs the older version of `rlw.sh` (in memory) instead of hot loading the new one. So the script won't actually be updated unless you quit the script after it updates and restart it.

[2015-04-18 02:15] dragonballz2k commented on #80
@alfonsojon I was wondering would it be easier to use deb file it might make these a little more complicated, but we could control the wine version and what repo we want it from like how google chrome adds custom repo.

[2015-04-18 03:43] GLolol commented on #80
@dragonballz2k Sounds good to me. Drop the hacky installation clauses, install to `/usr/bin/`, and voila. I have a bit of packaging experience, and I don't see this being too hard.

Further modifications would be required for any form of installation.

@ghost The "Wine has closed" error should be fixed in the latest commit 7a763ca7556f15185b34832c86682586615619ac. It's was a regression caused by [

[2015-04-18 03:43] #80 closed

[2015-04-18 04:36] NokiaGuy opened #82 "ROBLOX Studio launcher sometimes freezes and needs to be forced closed"
Specifications
------------
Ubuntu 14.04
Cinnamon Desktop Environment
Latest Wine version + Latest RLW version

Description
---------------
It basically freezes sometimes and the launcher [gets stuck at this](http://i.imgur.com/JtElt7C.png)
This persists if I reinstall or reboot.

I have to force close it using taskkill or System Monitor. It works successfully most of the time, but this does get a

[2015-04-18 05:41] alfonsojon commented on #49
@GLolol Good find! I'll see if I can find some sort of workaround for that bug, it affects our users *very commonly*, as seen in other closed or inactive bug reports.

[2015-04-18 05:43] alfonsojon commented on #79
Alright, wonderful. I'll assume this is fixed, feel free to let me know here if it comes up again.

[2015-04-18 05:43] #79 closed

[2015-04-18 05:44] alfonsojon commented on #82
I can confirm this, but I honestly have no idea which component of wine is to blame. By the way, `xkill` is a nifty tool to quickly kill an application - `ALT + F2`, then `xkill`, click the window, and its parent is dead (oh dear...).

[2015-04-18 05:47] alfonsojon opened #83 "Install via PPA or RPM repository, provide .deb binary files"
Title says all, this should probably be available as a system package. This will facilitate releasing stable updates, automatically resolving dependencies, and bundling our own working and tested version of wine. This will greatly reduce the program's complexity, as well as more properly integrate it into the system.

[2015-04-18 05:48] alfonsojon commented on #83
@GLolol Let me know if you can shed light on personal package archive creation, I haven't the slightest clue on where to start!

[2015-04-18 06:15] NokiaGuy commented on #82
I'll look into it, it doesn't happen on a old version of RLW so it must be something new. @alfonsojon

[2015-04-18 06:15] #82 closed

[2015-04-18 06:16] NokiaGuy commented on #82
Not sure if you want this closed or not, lol.

[2015-04-18 07:53] NokiaGuy opened #85 "Legacy Mode link not properly detecting ID"
ROBLOX had changed the whole interface (and the link) for the games page.
It now goes:
http://www.roblox.com/games/IdHere/NameHere

It's not properly detecting the game ID.

-----------------------------------------------------

**Warning**

They are still doing trial tests with it, so it may be on and off.

[2015-04-18 09:04] iiShadster commented on #77
@GLolol Wine Version is 1.7.38

OS Name and Version: Ubuntu 14.04
Graphics card: Intel 965GM x86/MMX/SSE2

[2015-04-18 15:38] NokiaGuy commented on #76
[Looks like an Wine update has fixed it, I can't reproduce it.](http://i.imgur.com/FGRyj00.png)

[2015-04-18 15:42] NokiaGuy commented on #76
Actually now I see what's happening - When re-arranging the docks for items in Studio (explorer, properties, toolbox, etc) some of them have minimum sizes.

So people on lower resolution displays will have it push down Studio to properly fit in the docks, the Mac version has a fix to this, but obviously not the Windows version (which is what Wine is).

The general way to patch it since it's ROBLOX

[2015-04-18 15:49] NokiaGuy commented on #64
@Z0MBIE2 This exact same problem occurred to me when using Intel's graphic drivers, do you perhaps have them? (adding on to @alfonsojon's question)

It worked flawlessly after I removed them. When I joined a game the lighting engine wouldn't render properly and soon after I got a lag spike and the client just crashed.

[2015-04-18 18:37] GLolol commented on #77
There seems to be issues with the Intel graphics card and Wine: see #64.

[2015-04-18 20:16] Z0MBIE2 commented on #64
It actually appears to happen only in specific games, where it'll crash me for that game but not for others. I'm not sure if it's always like that or not. Sorry for responding late. As for the two questions... I'm pretty damned ignorant with computers I guess, I used HardInfo to get my system information. So I'll give you the summary, operating system and processors.
[code]

[code]

[code]

[2015-04-18 22:43] NokiaGuy commented on #78
@GLolol It now works under a better (1080p) display, rather than a 720p display.

Very odd, however this display is temporary.

[2015-04-19 07:11] alfonsojon commented on #81
@GLolol Do you know how we can work around this? I can't find the specific code which is causing this issue, it all looks okay to me.

[2015-04-20 20:51] NikoCodey opened #88 "Your graphics driver is too old."
Your graphics driver is too old for ROBLOX use.

[2015-04-20 21:33] NokiaGuy commented on #88
This is actually a limitation from ROBLOX's client, not Wine or RLW.

What graphics driver do you have?

[2015-04-20 22:51] GLolol commented on #85
So in the new format, the URL and the Game ID are the same? Try this patch: [link](https://secure.overdrive.pw/f/rlw-fix-legacy-mode.patch)

[2015-04-20 23:20] NokiaGuy commented on #85
@GLolol What do you mean by "URL and the Game ID are the same?"

The link requires some sort of name to work.
For example,

http://www.roblox.com/games/192800/ < Will not redirect

http://www.roblox.com/games/192800/WhateverNameHere < Will redirect

[2015-04-20 23:23] GLolol commented on #85
When I follow the link to any game in a browser, it will show me the game link in the format you supplied. I don't know what format `robloxplayerbeta.exe` takes in its `--id` argument; does sending in the full game URL (what the patch does) allow the game to start?

[2015-04-20 23:24] GLolol commented on #85
Oh wait, I see. The text splitting needs some updating.

[2015-04-21 00:17] GLolol commented on #71
As far as I'm concerned, with Google Chrome recently dropping NPAPI plugin support, Roblox is already transitioning to plugin-less game starts for Chrome users. There was a news post about it a while ago, but I can't seem to find the link for it anymore.

Anyway, doing a site login from the wrapper itself would be nice, but I'm not sure how the internals would work. What engine should we use for t

[2015-04-21 01:41] NokiaGuy commented on #85
I'm getting a prompt saying it's not detecting the URL or ID.

[2015-04-21 01:41] NokiaGuy commented on #85
@GLolol

[2015-04-21 01:56] #85 closed

[2015-04-21 01:56] GLolol commented on #85
Sorry about that. It should *really* be fixed now.

[2015-04-21 01:59] NokiaGuy commented on #85
Yep, works great. @GLolol

[2015-04-21 02:07] NokiaGuy commented on #64
@Z0MBIE2 Can you give examples of a few games that work and a few games that **don't** work? It could be something specific in those games.

[2015-04-21 02:37] Z0MBIE2 commented on #64
I can give two examples from places I go. I'm in a war group, and there's a training place I can go and be fine yet a meeting place I can't. http://www.roblox.com/games/144531407/Gathering-Hall The gathering hall is the place that crashes me, http://www.roblox.com/games/105011057/Prime-Legion-Honor-Grounds honor grounds is the place that doesn't and works fine. In an attempt to make Gathering Hall

[2015-04-21 03:16] alfonsojon commented on #83
If this is implemented as a system application, the following changes will need to be made:
- Remove automatic git updates, as the package manager will handle updates
- Run script from /usr/sbin, instead of user-defined directory
- Install roblox.png as a system-wide icon in /usr/share/icons

[2015-04-21 03:17] alfonsojon commented on #71
@GLolol XULRunner seems like a good candidate - it's multi-platform, stable, easily deployed, and does not require any additional dependencies. The demo found on that GitHub repo linked above can actually run on Linux, OS X, and Windows, and is completely free of dependencies.

[2015-04-21 03:18] GLolol commented on #83
Indeed. It should be `/usr/bin`, since `/usr/sbin` is only added to root's `$PATH`. We won't need root for any of our actions anyways.

[2015-04-21 03:19] alfonsojon commented on #88
...is your graphics too old (or too inadequate)? Odds are, Roblox wouldn't run on the GPU anyways. Be sure to provide info as to what kind of graphics card (or integrated graphics chip) that your system has installed.

[2015-04-21 03:40] GLolol commented on #71
How do I run the demo exactly?

[2015-04-21 10:43] NokiaGuy commented on #64
Do you know what admin he is using now?

----------------------------------------
It seems you're crashing from interacting with the client. For instance, some of these scripts store data into your client for later use.

When you're connected to a ROBLOX game server, there is two sides. There is Workspace/ServerStorage/ServerScriptService/Lighting/etc and that is all server based. However another

[2015-04-21 11:46] NikoCodey commented on #88
Hi, thank you for replying! I have took this picture while i was on Windows before installing Ubuntu http://prntscr.com/6w1j7s http://prntscr.com/6w1m5o http://prntscr.com/6w1ma2

[2015-04-21 12:09] NikoCodey commented on #88
Okay, so i managed to update the drivers and it works fine, but ROBLOX keeps crashing every 10 secs on Ripull's minigames

[2015-04-21 12:29] NikoCodey opened #89 "Studio does not launch"
After launching it i get the bar:
Connecting to ROBLOX
Studio is up to date
Then nothing else happens.

[2015-04-21 12:32] #89 closed

[2015-04-21 12:47] alfonsojon commented on #83
@GLolol I thought /usr/sbin was for scripts. Is there a proper place to put shell scripts?

[2015-04-21 12:48] NikoCodey commented on #88
Now i can't launch ROBLOX at all after reinstalling http://prntscr.com/6wfjr0

[2015-04-21 13:00] Z0MBIE2 commented on #64
"Kohls epix edition", modified version of kohl's admin that's lately been popular is what's used at both places currently. Scripths admin, if you know is kohl's new account and that was the admin used at Gathering Hall. So it seemed removing it was working, but then stopped.

[2015-04-21 14:33] GLolol commented on #83
No, no, no! `/usr/local/bin` is for apps that are installed outside package management. If we're packaging ourselves, we act like a normal app inside `/usr/bin`. This is regardless of language!

[2015-04-21 15:33] NokiaGuy commented on #88
@NikoCodey Did you mess with the installation script? It is not finding Mozilla Firefox. You can reinstall via the menu.

[2015-04-21 16:40] NikoCodey commented on #88
Fixed it. The Mad Murderer causes the program to become unresponsive.

[2015-04-21 18:51] NokiaGuy commented on #88
Please view #64 as it's the same issue, thanks. @NikoCodey

[2015-04-21 20:10] skullbro opened #90 "this doesn't work for me"
it just says No such file or directory

[2015-04-21 20:10] skullbro commented on #90
THAT DOESN'T HELP AT ALL

[2015-04-21 20:18] NikoCodey commented on #64
I'm having problems joining The Mad Murderer as well... Any recommendations?

[2015-04-21 23:04] GLolol commented on #90
No such file or directory for what in particular?

[2015-04-21 23:05] GLolol commented on #88
Games not starting is a separate issue.

[2015-04-21 23:05] #88 closed

[2015-04-21 23:06] GLolol commented on #64
This seems to be caused by bugs in Wine. Unfortunately, there's not much we can do about that.

[2015-04-22 00:14] skullbro commented on #90
i mean when i copied the command and pasted it it didn't work

[2015-04-22 00:23] Z0MBIE2 commented on #64
Ah, okay. Better to at least know then not know.

[2015-04-22 00:25] skullbro opened #91 "never mind"
UGH i keep on tring and tring what you tell me and the new code DOESN'T work for me

[2015-04-22 00:33] #91 closed

[2015-04-22 00:34] GLolol commented on #90
Yes, but **where exactly** is it failing? Please paste a full log of what you're getting in a terminal, wrapped with two sets of \`\`\` for formatting. Otherwise, I can't help you.

[2015-04-22 00:39] GLolol commented on #91
Duplicate of #90.

[2015-04-22 01:22] GLolol commented on #81
The problem is, simply running `git pull` and then continuing execution of the script just won't work. The files on the hard disk are updated, but the copy that Bash is currently running in memory isn't. There's no simple foolproof way to implement "auto-updating" like this - you may as well have the user run `git pull` themselves!

[2015-04-22 01:30] autospamfighter commented on #81
You could have the script somehow terminating after running git pull and restart, but that would lead to other complications.

[2015-04-22 01:32] GLolol commented on #81
@autospamfighter That would require a wrapper script over the main script itself, which I'm hesitant to implement since the script is complex enough as it is. Eventually I plan on switching to binary packaging as mentioned in #83.

[2015-04-22 14:42] alfonsojon commented on #83
Oh, I see. My bad!

[2015-04-22 17:57] alfonsojon commented on #81
Could it not just exit and prompt the user to relaunch?

[2015-04-22 19:05] GLolol commented on #81
It would need to check whether an update is required or not - this isn't reliable... Otherwise, you'd get into an endlessly restart loop

[2015-04-22 19:13] skullbro opened #92 "heres the info"
ok i scaned your git but it says E: Invalid operation git when i type sudo apt-get and then your code and when i just copy it it says no such file.

[2015-04-22 19:22] alfonsojon commented on #81
If it does remain like this, the apt and rpm repositories need to be implemented quickly.

[2015-04-22 19:22] alfonsojon commented on #92
Did you install git?

[2015-04-22 19:32] skullbro commented on #90
ok the error is when i paste your code  just the whole code it doesn't work
and when i type sudo apt-get git install it still says no such file or
directory

On Tue, Apr 21, 2015 at 8:34 PM, James Lu <notifications@github.com> wrote:

[2015-04-22 19:33] skullbro commented on #92
wait i had to install git to gegt the thing

On Wed, Apr 22, 2015 at 3:22 PM, Jonathan Alfonso <notifications@github.com>
wrote:

[2015-04-22 19:33] skullbro commented on #92
oooooohhhhhhhhhhhhhh

On Wed, Apr 22, 2015 at 3:33 PM, ike jhn <camoskull.12@gmail.com> wrote:

[2015-04-22 19:35] skullbro commented on #92
how do i install that on linux

On Wed, Apr 22, 2015 at 3:33 PM, ike jhn <camoskull.12@gmail.com> wrote:

[2015-04-22 20:05] autospamfighter commented on #83
Do you need help with the apt repos?

[2015-04-22 22:58] GLolol commented on #83
@autospamfighter I'm open to any contributions. I'll be setting up a new `debian` branch soon, but I've just been really busy lately with schoolwork.

(I host my own APT repository using [aptly](http://aptly.info/) on a server of mine, if that's of any interest. I use stock Debian for my Linux installs, meaning Ubuntu PPAs aren't that reliable for me.)

[2015-04-22 23:01] GLolol commented on #81
b178ae56bf9e8c4838ef357a187ebff6ae5b60d3

[2015-04-22 23:01] #81 closed

[2015-04-22 23:02] GLolol commented on #92
`sudo apt-get install git`, if you're on Ubuntu or anything similar.

[2015-04-22 23:02] GLolol commented on #90
See https://github.com/alfonsojon/roblox-linux-wrapper/issues/92#issuecomment-95360964, it's `apt-get install git`, not `apt-get git install`.

[2015-04-22 23:02] #90 closed

[2015-04-22 23:56] alfonsojon commented on #83
I have a dedicated Linux server that could be used for this purpose

James Lu <notifications@github.com> wrote:

[2015-04-23 10:54] skullbro commented on #92
hmm.. ok thanks james

On Wed, Apr 22, 2015 at 7:02 PM, James Lu <notifications@github.com> wrote:

[2015-04-23 10:56] skullbro commented on #92
wait thjen what do i type

On Thu, Apr 23, 2015 at 6:54 AM, ike jhn <camoskull.12@gmail.com> wrote:

[2015-04-23 11:08] skullbro commented on #92
i typed what you said then it needs another code whats that

On Thu, Apr 23, 2015 at 6:56 AM, ike jhn <camoskull.12@gmail.com> wrote:

[2015-04-23 11:16] NokiaGuy commented on #92
The terminal will ask for your password after that... @skullbro

[2015-04-23 20:44] skullbro commented on #92
hmm....  i tried sudo apt-get install git and every code not at once but 1
at a time

On Thu, Apr 23, 2015 at 7:16 AM, Dylan <notifications@github.com> wrote:

[2015-04-23 21:53] GLolol commented on #92
I don't understand what you mean.

[2015-04-23 22:26] InvalidInvoke commented on #92
As Nokia stated, the terminal is asking for your password.
The thing that you log in with.
You had to create a password during installation; the terminal needs that to continue, enter that when it asks after you run sudo apt-get install git
@skullbro

[2015-04-24 04:37] GLolol commented on #83
I've uploaded the initial Debianization into the `testing` branch. :)

[2015-04-24 10:51] skullbro commented on #92
wait my computer password or my  account password

On Thu, Apr 23, 2015 at 6:26 PM, Noah <notifications@github.com> wrote:

[2015-04-24 11:08] NokiaGuy commented on #92
When you installed Linux it would've asked for a single password. Use that password.

[2015-04-24 13:00] alfonsojon commented on #83
PPA here: https://launchpad.net/~alfonsojon1997/+archive/ubuntu/roblox-linux-wrapper

Now, it's just a matter of building and uploading.

[2015-04-24 14:35] GLolol commented on #83
Are you familiar with the building toolchain?

[2015-04-24 14:53] GLolol commented on #83
Anyways, first packages are available in my [personal repository](http://packages.overdrive.pw/) now ([.deb download link](http://packages.overdrive.pw/pool/main/r/roblox-linux-wrapper/roblox-linux-wrapper_2015.04.16%2b10%2bg617678a_all.deb)), along with [a bunch of other stuff](http://packages.overdrive.pw/sid_list.html) that I put in there.

sources.list looks like:
`deb http://packages.overdriv

[2015-04-24 15:55] alfonsojon commented on #83
@GLolol I'm sure I can figure it out, I'll add it to my PPA later today. As for debian support, the Launchpad repo should still work as well. I'll get working on the RPM and YUM repos later today.

[2015-04-24 16:00] alfonsojon commented on #71
@GLolol You need xulrunner installed. Once installed, run `xulrunner /path/to/roblox-browser-xulrunner`

[2015-04-24 23:50] GLolol commented on #71
Oh, neat. I was only able to run the demo using by calling the command on the `application.ini`. `iceweasel -app`/`firefox -app` seems to have replaced `xulrunner` entirely for me on Debian.

[code]

[2015-04-25 00:33] Z0MBIE2 opened #94 "Game crashes occasionally, but the RLW main window won't reopen afterwards"
Hi again.... Okay, so I've had to use the reinstall option twice today because something's been breaking. Games that normally work show this in the terminal
[code]

And I crash. Since that happens, I try to close the browser and reopen the "hub" (Where you can uninstall, reinstall, open roblox, open studio". After closing the browser though, it wont open, and shows this in terminal, and just keeps

[2015-04-25 00:34] GLolol commented on #94
Yikes. Looks like a bug in Wine... We don't produce errors that look like that.

[2015-04-25 00:51] autospamfighter commented on #83
@alfonsojon We should also make sure that the packages are available via GItHub... or at least the .deb file download link in the README.

[2015-04-25 01:04] GLolol commented on #83
@autospamfighter There, I added a link to the latest packaged version (branch `testing`, which has all updates from `master` atm and the packaging) in the [releases page](https://github.com/alfonsojon/roblox-linux-wrapper/releases).

[2015-04-26 17:26] GLolol commented on #83
@alfonsojon Is this ready to be made official? Users can now use Git, .deb, and *maybe* even one-liner wget to install what's in branch testing at the moment. Version detection fails with a `version-unknown` for the last option, but everything else *should* work (though untested).

[2015-04-26 17:27] EchoDuplication commented on #94
I've been having the same issue :(

[2015-04-26 17:37] GLolol commented on #94
I realize the 'hub' referred to here is the actual RLW main window.... I need to start reading properly >_<

The reason the "hub" doesn't open is because it's waiting for everything Wine to close properly, and in this case, something is preventing this from happening - Wine is blocking the main script's execution.

Unfortunately I can't see a workaround for this, unless we run all of Wine as a bac

[2015-04-26 17:38] #92 closed

[2015-04-26 17:38] GLolol commented on #92
Closing as not a bug.

[2015-04-27 15:30] alfonsojon commented on #94
Alright, a quick workaround for this is to run the following:
`WINEPREFIX=~/.local/share/wineprefixes/roblox-wine wineboot -k`

[2015-04-27 20:20] 5shane1 commented on #94
Yeah, I'm having the same problem, game crashes, I move it to the next desktop, and if I close Firefox, it won't reopen.

[2015-04-28 00:23] Z0MBIE2 commented on #94
I tried to use it in a new terminal when the same problem occured, and it showed this
[code]

[2015-04-28 01:48] dragonballz2k commented on #94
@GLolol I been wondering does the script use directx or opengl for roblox. I wonder if the issues could be graphic drivers.

[2015-04-28 16:55] alfonsojon commented on #94
@dragonballz2k It uses DirectX, but as stated in a video made by me, the game can be easily configured to use the OpenGL rendering engine by opening Studio and selecting the following menu options: File > Settings > Rendering > graphicsMode: OpenGL

[2015-04-28 17:02] alfonsojon commented on #83
@GLolol: Feel free to upload the .deb as a "release" to the GitHub releases page, as a binary. That way, we can both provide binaries via GitHub, to reduce dependence upon external servers :)

[2015-04-28 18:41] GLolol commented on #83
@alfonsojon Done.

[2015-04-28 21:56] NokiaGuy opened #95 "Studio does not load files"
It basically freezes when you try to load a file, you can see in the output where it froze.

* Kubuntu 14.10; Intel HD Graphics
* Latest Wine version & Latest RLW version

[code]

[2015-04-29 15:22] #77 closed

[2015-04-29 23:19] NokiaGuy commented on #95
It's on and off, usually fixed by reinstalling

[2015-04-29 23:19] #95 closed

[2015-04-30 23:09] Z0MBIE2 opened #96 "When trying to open a game in browser, crashes before it has a chance to open."
Sigh... I'm back again. As the title states, after opening the browser and going to a game, it seems any game, I try to click start to play. It opens, and it says it's opening, but right before it's supposed to open, it gives me the error that's featured in both my previous issues that were wine bugs. Below seems to be what it shows for me when it crashes right away. I tried to reinstall, and it s

[2015-05-01 19:51] 5shane1 commented on #96
Confirmed, not working for me either.

[2015-05-01 19:58] Z0MBIE2 commented on #96
Three separate issues, three game problems, all caused by wine bugs or single one.

[2015-05-03 01:05] youknowwho opened #97 "Experiencing errors on latest WINE and latest clone from GIT trunk"
Hello,

First and foremost, I wanted to extend my utmost gratitude to the developers and maintainers of this repository. My hat is off to you for your excellence. My family and I have enjoyed many wonderful hours with Roblox under this project.

I did have a question about getting Roblox running again. Recently, I wasn't able to run Roblox; I am getting the same error on two different systems. The

[2015-05-03 07:08] NokiaGuy commented on #97
I can confirm this, same exact issue.

OP didn't mention it, but also occurs w/ Studio as well.

[2015-05-04 16:27] alfonsojon commented on #97
I'll need to look into this when I get the chance. Is there any specific information required for reproducing, or does it "just happen"?

Best of luck, thank you for the report :)

[2015-05-04 16:30] alfonsojon commented on #96
I believe a Roblox update caused this, I will need to look into this further. Thank you all for your reports :)

[2015-05-05 03:13] youknowwho commented on #97
THank you so much for your help with it and for your thoughts.

So here's how things go:

1. First, I install the game. The rlw.sh script installs the programs. The GUI returns that Roblox was installed successfully.
2. Then I launch the rlw.sh script to play the game.
3. The GUI comes up and asks "What option would you like?
4. I select the default "Play Roblox" and then click "OK"
5. The Firefox

[2015-05-05 15:25] GLolol commented on #97
You can wrap the logs with two sets of \`\`\` to prevent it from being formatted as titles. I've edited your comment to do that for you this time. :)

[2015-05-05 20:28] skullbro commented on #92
oh so i typed it wrong ok ill try so i do my github pasdsword right?

[2015-05-05 20:40] skullbro commented on #92
oh know i see mny problem it says i need a newer veersion of wine how do i uptdate it

[2015-05-05 21:05] GLolol commented on #92
https://www.winehq.org/download/ubuntu

[2015-05-06 15:35] #83 closed

[2015-05-06 15:37] alfonsojon commented on #97
@GLolol I cannot do any investigation, as I'm busy with quite a bit (college starting in about two weeks, graduation, etc), but I believe this issue is due to a new version of the Visual Studio C++ Runtime being used. Can you look into the msvcrt###.dll files, and let me know which ones are present and not overridden by a flag? Thanks!

[2015-05-06 16:07] Gskartwii commented on #30
Uh totally forgot about this...
And yea, it still won't work on the VM.

[2015-05-06 17:06] GLolol commented on #97
msvcrt is the **C** library, not a C++ library. There aren't any version numbers involved. The logs seem to suggest stubs, Windows API features Wine hasn't implemented yet.

[2015-05-06 22:46] Z0MBIE2 commented on #97
This is the same issue I have, although more detailed.

[2015-05-07 05:28] alfonsojon commented on #97
@GLolol I mean the numbers following the runtime name, such as `msvcrt90.dll`.

[2015-05-07 14:03] GLolol commented on #97
@alfonsojon I don't see how this is relevant.

[2015-05-07 16:39] alfonsojon commented on #97
@GLolol Long story short, try running with `WINEDLLOVERRIDES="msvcp110.dll,msvcr110.dll=n,b"`

[2015-05-08 00:06] skullbro commented on #92
so whats the command to install the wine? i tried sudo apt-get-repository
*ppa:ubuntu-wine/ppa*

On Tue, May 5, 2015 at 5:05 PM, James Lu <notifications@github.com> wrote:

[2015-05-08 01:01] GLolol commented on #92
From the WineHQ page:

## Alternative Command Line Instructions for Installing Wine:

It is also possible to add the PPA and install via the terminal. This may be useful on Ubuntu flavors and derivatives.

*sudo add-apt-repository ppa:ubuntu-wine/ppa*

Then update APT package information by running '**sudo apt-get update**'. You can now install Wine by typing '**sudo apt-get install wine1.7**'.

-

[2015-05-08 20:30] skullbro opened #99 "CRASHING"
WTF! IT KEEPS SAYING ROBLOX HAS CRASHED AND NEEDS TO QUIT WE'RE SORRY I REALLY WANT TO PLAY IT BUT IT JUST CRASHES!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! @alfonsojon

[2015-05-08 20:42] NokiaGuy commented on #99
Sorry about that! You can see the details here: #96

[2015-05-08 22:43] skullbro commented on #96
ok its true it's confirmed. But their is a hope that we can all help @alfonsojon  @GLolol  @Z0MBIE2  @5shane1  @bowtiemod

[2015-05-08 22:46] skullbro commented on #99
thats very ok. maybe we can help you @alfonsojon

On Fri, May 8, 2015 at 4:42 PM, Dylan <notifications@github.com> wrote:

[2015-05-08 23:43] #99 closed

[2015-05-08 23:44] GLolol commented on #99
I don't even...

[2015-05-08 23:54] GLolol commented on #96
@skullbro I can't understand what you're saying.

[2015-05-09 02:09] skullbro commented on #96
oh..... @GLolol  you don't speak english do you ok um.m...... i can't use google translation so ..... well doesn't this suck .....................umm.. i guess i can't do anything

[2015-05-09 02:10] skullbro commented on #96
ok @GLolol  what i'm saying is github allows you to help other people on their linux or whatever wrappers so if we work together we can fix the wine bug

[2015-05-09 02:20] bowtiemod commented on #96
Crashes for me too. I'm somewhere else right now, but once I get back, I'll try to get details and a possible solution or a workaround.

[2015-05-09 02:54] alfonsojon commented on #96
It seems using wine-staging works fine.

[2015-05-09 06:59] Shermanlion6 commented on #37
Same A Black Screen Appears when i press play im on Samsung ChromeBook

[2015-05-09 21:16] skullbro commented on #96
@alfonsojon how do you do that?

[2015-05-09 21:22] alfonsojon commented on #96
@skullbro I have a patched script [here](https://github.com/alfonsojon/roblox-linux-wrapper/commit/f76b8946a509469935e88ccf6166a5312a373468#commitcomment-11117689), you just have to paste it into the `rlw` file, replacing the code that is in it. Also, [make sure you have wine-staging installed](https://github.com/wine-compholio/wine-staging/wiki/Installation)

[2015-05-09 21:24] alfonsojon commented on #99
@GLolol :+1:

[2015-05-09 21:26] alfonsojon commented on #97
Edit: See discussion on [this commit](https://github.com/alfonsojon/roblox-linux-wrapper/commit/f76b8946a509469935e88ccf6166a5312a373468), it reveals that this seems to be a DirectX-related issue, and the game currently does work in wine-staging. There is a patched script there, if anyone would like to test it. I do not wish to deploy it until I can verify that it is working, as it requires a chan

[2015-05-09 21:41] alfonsojon commented on #37
@Shermanlion6 What Samsung Chromebook are you attempting to play on?

[2015-05-09 23:24] Z0MBIE2 commented on #96
Issue can be closed, I don't know how if it's possible for me to do it. @alfonsojon , as said in previous comment, made a patched script and it works better then the previous. Thanks again alfonsojon.

[2015-05-10 00:18] GLolol opened #101 "If RLW is installed in /usr/bin, "Uninstall Roblox" should leave a note that the wrapper itself can only be removed by the package manager"
tl;dr: "Uninstall Roblox" != "Uninstall Roblox Linux Wrapper".

[2015-05-10 01:17] youknowwho commented on #96
Hi Folks,

It's good news to hear that we're getting somewhere, but I have wine staging and I still cannot run it (using the new script).
[code]

[code]

[2015-05-10 10:47] Shermanlion6 commented on #77
Same PLZ FIX THIS I HAVENT PLAYED ROLOX IN 2 YEARS!

[2015-05-10 10:48] Shermanlion6 commented on #37
2

[2015-05-10 18:33] GLolol commented on #97
Closing as a duplicate of #96.

[2015-05-10 18:33] #97 closed

[2015-05-10 18:33] GLolol commented on #96
I can reproduce this with Wine 1.7.41 stock; game just crashes ;(

Will try Staging sometime today/this week.

[2015-05-10 19:49] 5shane1 commented on #96
Um, I get this error. https://gist.github.com/42d82462e418b4694037.git

[2015-05-10 20:42] youknowwho commented on #96
So please don't close this issue because I still cannot get it working, staging or not, patched script, or not. Does anyone have any ideas what I am doing wrong? Is there some debugging data that I could post that would help identify the cause of the problem?

[2015-05-10 20:43] Z0MBIE2 commented on #96
Well I was saying to close it because there was another issue #97 that you could discuss it on, but apparently that was closed for being a duplicate of this one so I guess this isn't to be closed...

[2015-05-10 22:53] GLolol commented on #96
I just picked the earlier of the two issues and kept that one.

[2015-05-11 05:27] youknowwho commented on #96
Hi Folks,
So I also tested this on a different distribution: openSUSE 13.1. I still get an error, but for some reason, there's the option to view the crash debugging.

This was executed using wine staging 1.7.42:

[code]
Hopefully this help identify what's going on. Please let me know if there something else I could provide.

[2015-05-11 13:13] alfonsojon commented on #37
@Shermanlion6 Can you please open a new issue? This issue is closed, thank you for your cooperation :)

[2015-05-11 13:21] alfonsojon commented on #101
Is there a way to detect if the script is being run from /usr/bin? If so, we can work around this issue by implementing a check.

[2015-05-11 13:50] GLolol commented on #101
Yeah, I plan to implement that sometime soon.

[2015-05-11 13:52] alfonsojon commented on #101
Alright, thanks. I really appreciate all the work you have done for the Roblox Linux wrapper, it's been such a help to me!

[2015-05-11 13:53] GLolol commented on #101
No problem :)

[2015-05-11 13:55] alfonsojon commented on #101
Do you have a PayPal/Google Wallet/<insert payment method here> for donations?

[2015-05-11 14:04] GLolol commented on #101
Haha, I don't think I'm old enough to own an account yet. :P

[2015-05-11 14:06] alfonsojon commented on #101
Ah, I see. I'd gladly add it to the README.md if you did!

[2015-05-11 15:11] alfonsojon commented on #94
By the looks of it, I'm afraid we cannot fix this as there is not a mechanism to detect if Roblox has gone rogue - only Roblox itself knows. Any attempts would be far beyond the scope of this project, and would honestly have little chance of actually fixing this issue.

[2015-05-11 15:12] #94 closed

[2015-05-11 19:37] NokiaGuy commented on #101
@GLolol Not old enough? Here I have a legal PayPal (student account) and I am 16. Laws might be different for you I guess.

[2015-05-11 21:04] NokiaGuy opened #102 "[ Wine Staging ] Studio can't run Test Solo"
Game client works fine, but Studio isn't. Just instantly freezes when testing in solo.

It sometimes works once when you open it, but never works after that.

Specs
---

- Intel HD Graphics
- Kubuntu 14.10

Terminal
---
[code]

[2015-05-12 00:39] #101 closed

[2015-05-12 01:32] youknowwho commented on #96
Hi folks,
I hope everybody's having fun.
So I am starting to get the hint - it sounds like I should be opening a bug report with the WINE people. Should this be done with the wine-staging or wine-HQ?
Or should I hold off...?
Can somebody tell me if this is working? I have three systems, two different GNU/Linux distros, NOT working with WINE staging, but there's reports here in these posts of thing

[2015-05-13 03:22] GLolol commented on #96
This is weird. With the latest Wine Staging 1.7.42, some games seem to work, while others crash a few seconds after loading. I can't say anything works stable - that would be a total lie.

@youknowwho I don't know of anyone who's filed a Wine bug report yet - I'm not familiar with the process myself. You should probably file reports against official Wine, since it's the official release, and the g

[2015-05-13 15:02] alfonsojon commented on #96
@GLolol Right now, I'm trying to find a way to "force" OpenGL mode by modifying a config file through some bash inline text editing, but it's not very efficient.

[2015-05-13 15:12] alfonsojon commented on #96
@youknowwho Is it possible you can use [GitHub's Gist pastebin](https://gist.github.com) for large error log pastes? Thanks!

[2015-05-13 20:47] skullbro commented on #96
@alfonsojon  hm... has anyone figured out the wine code to fix the crashing bug?

[2015-05-13 20:48] skullbro commented on #96
@youknowwho  whats the wine staging code?

[2015-05-14 14:15] Shermanlion6 opened #104 "Roblox Linux wrapper Black Screen"
WHen i tried to play roblox after i installed roblox linux wrapper and all i tried to play a game so i press play and then the screen went black and i had to restart my laptop Plz help me how to fix this.

[2015-05-14 14:19] GLolol commented on #104
Please be more specific:

- What is causing a black screen? Launching a game via Firefox or ...?
- What version of Wine are you using? Run `wine --version` in a terminal and paste the output here.
- What graphics card and graphics card driver are you using?

[2015-05-14 16:59] alfonsojon commented on #102
Can this be reproduced with wine stable?

[2015-05-15 05:54] Shermanlion6 commented on #104
I used the method they showed me on
http://roblox.wikia.com/wiki/Install_Roblox_on_Linux i did everything
correctly so when i used the Roblox wrapper and clicked play for a game the
screen went black im useing wine 1.7 i think or 1.6 and it launches on its
own firefox.

On Thu, May 14, 2015 at 9:19 AM, James Lu <notifications@github.com> wrote:

[2015-05-15 15:03] GLolol commented on #104
I realize that article is really, really old. I've pushed some updates (under account Mildlyridiculous), which points installation instructions HERE instead.

own firefox.

Run `wine --version` in a terminal and paste the output here.

[2015-05-15 19:20] NokiaGuy commented on #102
I can't reproduce it with Wine-Staging anymore.

[2015-05-15 19:20] #102 closed

[2015-05-15 23:57] NokiaGuy opened #105 "Firefox crashing a lot on Wine Staging"
After loading ROBLOX's initial front page, it constantly crashes.

I just upgraded to Kubuntu 15.04 Plasma 5 and this didn't occur before, so most likely system specific. I know when 14.10 was new I had problems with RLW.

Here's a log of the crash (Through the Wine error reporter)
https://gist.github.com/NokiaGuy/3a0ea3c916358a7e0ab1

Here's the terminal during the event (doesn't look like anythi

[2015-05-16 01:03] GLolol commented on #105
What version of Firefox is this exactly? The latest ESR release is 38.0.1. I can't reproduce this on Wine stable (1.7.41), though it is a lot slower than what I'm used to, probably because of all the ads the page loads... -_-

I might try staging later.

[2015-05-16 01:06] jlu5 opened #106 "RPM (Fedora, SUSE, etc.) packaging"

[2015-05-16 02:24] NokiaGuy commented on #105
Firefox 38.0.1 is what it says

[2015-05-17 02:04] josephskimber opened #107 ""Wine closed unsuccessfully" error."
I install everything and it worked great then i got the exit code one did all updates and still comes up with that error or wine closed unsuceesfully.. i feel as though i missed something simple but im new at this

[2015-05-17 02:24] Z0MBIE2 commented on #107
Have you tried various games? Wine bugs cause some... a lot... sometimes every game to crash.

[2015-05-17 02:26] Z0MBIE2 commented on #64
Sigh... games last a minute to 30. Might be a long session, then crashed, and then crash again a minute after. One game worked, then constantly stopped working soon after. Ah, the unpredictable wine bugs...

[2015-05-17 02:47] josephskimber commented on #107
so i tried more games and same deal.  i tried #96 and linux mint terminal commands comes back with this....... finnegan@finnegan-NV53A ~ $ $ sudo add-apt-repository ppa:pipelight/stable
$: command not found

[2015-05-17 02:48] NokiaGuy commented on #107
@josephskimber You added an extra "$"

Just copy the text part, so run this:

[code]

[2015-05-17 02:49] josephskimber commented on #107
lol i just restarted the computer and now it says no windows program associated with this application and its in the wine list.. smh

[2015-05-17 02:57] GLolol commented on #107
You don't need Pipelight for this script.

@josephskimber Can you debug the script by running it in a terminal and pasting the contents [on a pastebin somewhere](http://gist.github.com)? Also, what version of Wine are you using? (run `wine --version` in a terminal to find out)

[2015-05-17 02:58] josephskimber commented on #107
1.6.2

[2015-05-17 03:08] josephskimber commented on #107
i dont know how to do the debug. Something is going on with the PPA also(W: GPG error: http://packages.overdrive.pw rlw InRelease: The following signatures couldn't be verified because the public key is not available: NO_PUBKEY F95C4E34F953726C) this comes up when i update

[2015-05-17 03:32] alfonsojon commented on #107
Please thoroughly read the installation instructions :)

[2015-05-17 03:36] NokiaGuy commented on #105
Is there any point in posting obvious wine-bugs? Is there anything you guys can really do about it?

[2015-05-17 03:44] josephskimber commented on #107
thats a broad statement. for wine or roblox? cause im frustrated that everything work before and now it doesnt. and i can read. point me in the right direction please

[2015-05-17 03:47] Z0MBIE2 commented on #107
Everything. Thoroughly read all instructions.

[2015-05-17 04:01] GLolol commented on #107
You're missing the second step:

----

2) Install the repository's PGP key (this will prevent unauthenticated package errors):

[code]

----

Or if you're super lazy, install the `utopia-keyring` package I just made available in the repository. :)

[2015-05-17 04:04] GLolol commented on #105
@NokiaGuy https://github.com/alfonsojon/roblox-linux-wrapper/issues/96#issuecomment-101494274

[2015-05-17 04:06] GLolol commented on #107
Also, your version of Wine is too old. For Ubuntu, you'll need to fetch Wine 1.7 from a PPA or somewhere: https://www.winehq.org/download/ubuntu

----
## Alternative Command Line Instructions for Installing Wine:

It is also possible to add the PPA and install via the terminal. This may be useful on Ubuntu flavors and derivatives.

*sudo add-apt-repository ppa:ubuntu-wine/ppa*

Then update APT pac

[2015-05-17 04:26] josephskimber commented on #107
i stopped and backed up like you said and reread everything. i missed a couple steps. i fixed everything. now the funny part is roblox keeps crashing for every game. is that me with the gecko or is it roblox?

[2015-05-18 21:52] skullbro commented on #107
@josephskimber no sadly its just the wine people haven't fixed it yet

[2015-05-19 00:12] josephskimber commented on #107
I'm noticing now. Thanks. I'll keep checking back.

Sent from my iPhone

[2015-05-19 01:42] 5shane1 commented on #96
@skullbro right here, https://github.com/alfonsojon/roblox-linux-wrapper/commit/f76b8946a509469935e88ccf6166a5312a373468#commitcomment-11117689

[2015-05-19 02:02] alfonsojon commented on #96
@skullbro @5shane1 Just use the latest version and choose wine-staging as the version of wine to be used :)

[2015-05-19 12:49] alfonsojon opened #108 "Change $winebin variable to $WINE"
This will prevent winetricks from failing, as it uses the $WINE variable for its wine binary. By using the $WINE variable, winetricks will run successfully on both wine and wine-staging.

[2015-05-19 12:49] #108 closed

[2015-05-19 12:49] alfonsojon commented on #107
@josephskimber Try running it with wine-staging. Note: You must have the latest version to use wine-staging properly.

[2015-05-19 16:42] alfonsojon opened #109 "[staging] Winetricks fails upon reinstalling: "wine cmd.exe /c echo '%ProgramFiles%' returned empty string""
Currently occurs with wine-staging, untested under wine. Upon selecting the "Reinstall Roblox" option, winetricks seems to always fail with the error presented below:
[code]

[2015-05-19 17:18] GLolol commented on #109
Can't reproduce on Wine 1.7.41.

[2015-05-19 17:34] alfonsojon opened #110 "wineserver --wait not working with wine-staging, implement workaround"
For some reason, wineserver --wait is not working with wine-staging. A workaround should be applied in order to fix this.

[2015-05-19 17:39] alfonsojon commented on #109
@GLolol I cannot reproduce this in stock wine. It seems to only occur on prefixes that have switched wine versions (i.e. wine to wine-staging). Is it possible that a wineserver is still running in the background?

[2015-05-20 03:17] Z0MBIE2 opened #111 ""Wine closed unsuccessfully" trouble with rlw."
Hello again for my monthly trouble with wine! This was after using the old patch here https://github.com/alfonsojon/roblox-linux-wrapper/commit/f76b8946a509469935e88ccf6166a5312a373468#commitcomment-11261157 where it worked. Now, when using the main script, it doesn't from these errors. Switching back to patch for now.
[code]

[2015-05-20 04:01] bowtiemod commented on #96
Almost same problem and log as @youknowwho : https://gist.github.com/bowtiemod/627f9f94949d1221d0ef

I'll try to trace it and see what's happening. No guarantees though.

[2015-05-20 04:37] GLolol commented on #111
Try "Reinstall Roblox". I get DLL errors periodically, probably due to ROBLOX upgrades that aren't completely handled. Also, it appears you're executing the script as a standalone download, which we don't support - Please use Git or another method mentioned in the README to fetch the latest version.

[2015-05-20 04:42] Z0MBIE2 commented on #111
Hm? I've downloaded it from git before, and just switched to the patched rlw to play which worked, and then tried to switch back to the main one. I'll try redownloading.

[2015-05-20 04:50] GLolol commented on #111
The first two lines:

[code]

indicates that you're running the script standalone. Otherwise, version detection shouldn't fail!

[2015-05-20 12:20] Z0MBIE2 commented on #111
Huh... I'll try redownloading soon then. I don't know what happened, since the old patch still works fine.

[2015-05-21 16:21] baphvince commented on #30
Still having this issue on an Arch Linux system.

[2015-05-21 17:18] alfonsojon commented on #30
Based on input, it seems a port may need to be opened through iptables, although this is pure speculation and I do not know which port needs to be opened.

[2015-05-21 21:54] Z0MBIE2 commented on #111
I used the main rlw script again and clicked for it to reinstall, worked fine. Thank you @GLolol

[2015-05-21 22:06] Z0MBIE2 commented on #111
And we're back open! Firefox crashed after commenting on a group wall, showed an error report, and gave the wine closed error. Never had this happen before... Here are the logs, I'm going to try uninstalling and re-downloading.
[code]

[2015-05-21 23:28] GLolol commented on #111
Last line: `z0mbie2@Overdrive:~$ err:winediag:SECUR32_initNTLMSP ntlm_auth was not found or is outdated. Make sure that ntlm_auth >= 3.0.25 is in your path. Usually, you can find it in the winbind package of your distribution.`

Try installing winbind via your package manager. It may have been a new dependency that the latest Firefox (38.x) added.

[2015-05-22 01:27] Z0MBIE2 commented on #111
I... May not know how to do that.

[2015-05-22 01:58] GLolol commented on #111
What OS are you using? If it's anything Debian/Ubuntu: `apt-get install winbind` will do. For other distros, you might find it as part of the Samba suite (it may or may not be split into its own package).

[2015-05-22 04:07] Z0MBIE2 commented on #111
Just did that now, installed it.

[2015-05-22 23:28] GLolol commented on #111
Is this issue still present? If so, please open a new issue. I'll add Winbind to the list of dependencies for now so other users don't have the same problem in the future.

[2015-05-22 23:44] Z0MBIE2 commented on #111
Yes, it seems to still be crashing. Just crashed again now after starting up...
[code]
(Removed the log item below about x20)
[code]
And heres the details from the firefox crash.
[code]
I'll close this issue and use the comment I'm using now and info to open a new one I guess.

[2015-05-22 23:44] #111 closed

[2015-05-22 23:47] Z0MBIE2 opened #112 "Firefox crashing, "Wine closed unsuccesfully" error, problem #2."
Had a post recently concerning this issue, turned out to be a specific problem, fixed that, yet now it seems to happen due to another issue.
[code]
(Removed the log item below about x20)
[code]
And heres the details from the firefox crash.
[code]
--- Edit ---
Crashed right after, so here's some more logs.
[code]

[2015-05-23 01:43] GLolol commented on #112
Sorry for making you reopen, I just realized this is a duplicate of #105.

[2015-05-23 01:43] #112 closed

[2015-05-23 15:18] NokiaGuy opened #113 "Weird installation error"
[code]

I reinstalled Ubuntu 14.04 last night and have been getting this ever since, I have Wine1.7 and Wine-Staging (and have tried reinstalling both) and still no avail.

[2015-05-23 15:24] NokiaGuy commented on #113
Oops sorry, a duplicate.

[2015-05-23 15:24] #113 closed

[2015-05-24 16:41] 5shane1 commented on #109
I actually used to get that message a lot before.

[2015-05-24 17:39] GLolol commented on #109
Update: The winetricks script available at http://winetricks.org/winetricks is way older than what's available in the latest git repository: https://github.com/Winetricks/winetricks. Not to mention that we prefer winetricks packages in official system repositories, which may be even older. As far as I'm concerned, the `%ProgramFiles%` handling has been changed to be more verbose.

My suggestion:

[2015-05-24 18:38] youknowwho commented on #96
It started working again. I am still using the same version of wine staging. I didn't change any programs.
[???]
I deleted everything and then I download the most recently committed script; it pulls in the latest applications and installs them, and then it worked again.
Is this because of something in the new Firefox version?
I didn't file the bug report, and when I was about to do so, I figured I

[2015-05-24 19:04] alfonsojon commented on #109
@GLolol I like option #2. #1 seems a bit complex for the scope of this project.

[2015-05-24 19:06] alfonsojon commented on #105
@NokiaGuy Yes - we can work around wine issues.

[2015-05-24 19:07] GLolol commented on #109
The two options are sort of interconnected... Using an upstream repository as a submodule is okay, but any changes like repository renames might break things. Either way it requires manually syncing up when needed.

[2015-05-25 01:02] skullbro commented on #96
so how can i get this fixed for my pc @youknowwho

On Sun, May 24, 2015 at 2:38 PM, youknowwho <notifications@github.com>
wrote:

[2015-05-25 01:04] skullbro commented on #96
also it wont let me even open roblox on my pc in linuxmint 17 it just sasys
wine cl;osed unseccusefully @youknowwho

On Sun, May 24, 2015 at 9:02 PM, ike jhn <camoskull.12@gmail.com> wrote:

[2015-05-25 04:08] masterdome opened #114 "Program Error!"
I was loading my game when a program box opened up and it said:
The program RobloxPlayerBeta.exe has encountered a serious problem and needs to close. We are sorry for the inconvenience! And other things what I'm trying to say is it doesn't open up plz help!

[2015-05-25 04:50] GLolol commented on #114
Please post the information mentioned here: https://github.com/alfonsojon/roblox-linux-wrapper/blob/master/CONTRIBUTING.md#information-needed-in-a-bug-report

Specifically: Wine version, OS version, and graphics card model/driver used.

[2015-05-25 04:51] GLolol commented on #104
Closing due to lack of info.

[2015-05-25 04:51] #104 closed

[2015-05-25 04:55] GLolol commented on #113
Duplicate of #109 if anyone sees this.

[2015-05-25 05:01] GLolol opened #115 "[META ISSUE] ROBLOX crashing [POST CRASHES HERE]"
Lately, we've received numerous issues regarding ROBLOX crashing under Wine: #96, #107, #114, #111, #104, #102, #99, #97, #90, #64. This is an attempt to unify all these separate issues with the appropriate information needed. **Often times, ROBLOX crashes are Wine bugs that we have _no control over_ - we can only _attempt_ workarounds, but those may or may not work**.

Please keep this thread con

[2015-05-25 05:03] GLolol commented on #107
I have opened a new meta-issue for ROBLOX crashes at #115. Please post any new info there.

[2015-05-25 05:03] #107 closed

[2015-05-25 05:04] #114 closed

[2015-05-25 05:10] GLolol commented on #96
I realize there's a bit of issue hijacking happening here, but yes, ROBLOX is going to be unstable on Wine no matter what we try since it isn't meant for the platform. I've opened a meta issue for ROBLOX crashes at #115; please put any new information there.

[2015-05-25 05:10] #96 closed

[2015-05-25 05:11] GLolol commented on #105
#115: new meta issue for crashes in Wine.

[2015-05-25 05:11] #105 closed

[2015-05-25 05:12] GLolol commented on #64
See #115 - a new meta thread for ROBLOX crashes in Wine, etc.

[2015-05-25 05:12] #64 closed

[2015-05-25 23:28] 5shane1 commented on #115
Eh, still crashs for me... But we all know it's a wine bug, but I guess everyone are newbies at linux... :L

[2015-05-26 00:52] skullbro commented on #115
yep :D

[2015-05-26 18:36] alfonsojon commented on #109
@GLolol What all will be different by converting to an organization?

[2015-05-26 19:47] GLolol commented on #109
I'll fix it later today.

[2015-05-26 21:02] alfonsojon commented on #109
@GLolol Thanks.

[2015-05-26 23:08] GLolol commented on #109
Well, it wouldn't change much as far as the code goes, but management would look a bit different. A normal repo only has one owner and any number of collaborators, while a group has more access levels: owner, admin, collaborator, viewers. A group also allows multiple repositories to be added, and assigning teams to different repositories.

[2015-05-26 23:30] GLolol commented on #109
Possibly related: Winetricks/winetricks#163.

[2015-05-26 23:36] alfonsojon commented on #109
@GLolol To convert roblox-linux-wrapper to an organization would require my account to also be an organization, which is something I'm not looking to do. Neat features though, I'll keep that in mind for any future projects :)

[2015-05-26 23:36] GLolol commented on #109
No it doesn't. You can create an organization and then transfer this repository to it in the settings.

[2015-05-26 23:37] alfonsojon commented on #109
@GLolol Would the organization still be managed by my account, or is it a separate entity entirely?

[2015-05-26 23:38] GLolol commented on #109
You will have full owner access if you create it. There will be a button in the homepage that allows you to switch the dashboard context to the organization.

[2015-05-26 23:38] alfonsojon commented on #109
@GLolol Figured it out, thanks!

[2015-05-26 23:48] GLolol commented on #109
I'm going to push some things to testing that makes us use our own winetricks copy. Note that I can't test with wine-staging without compiling myself (libraries on my system are too new, figures), but Wine 1.7.43 should be newer than Wine 1.7.42 staging AFAIK.

[2015-05-27 00:10] GLolol commented on #109
Update: can't reproduce on Wine 1.7.43. My guess is that the issue is sporadic, like a lot of the other bugs we deal with.

[2015-05-27 00:45] alfonsojon commented on #109
I cannot reproduce this under wine 1.7.43 as well. It seems to only be affecting wine-staging currently.

[2015-05-27 03:00] NokiaGuy opened #116 "Firefox plugin-container crash"
[code]

Ubuntu 14.04
Latest RLW, Wine, and Wine-Staging
Wine Preferences set to Wine-Staging by default
x86

[2015-05-27 03:16] GLolol commented on #116
Duplicate of #105. Looking at the Gist there, it seems that the `copysignf` function was missing, which caused Firefox to crash.

Relevant WineHQ bug: https://bugs.winehq.org/show_bug.cgi?id=38195 has been fixed in Wine's master (wine-mirror/wine@e1de0eeae416f31203ec6a666614a2b0f8ab33b1). Unfortunately, this hasn't been released yet, so you might have to wait a bit for a fix to be pushed to you.

[2015-05-27 03:19] GLolol commented on #109
I forget: can you test on the latest RLW master? It uses the Git master of winetricks.

[2015-05-27 04:52] #116 closed

[2015-05-27 04:53] GLolol commented on #116
Closing as "fixed upstream, awaiting release" and not something we can really work around anyways.

[2015-05-27 11:53] alfonsojon commented on #109
Sure thing

[2015-05-30 02:17] GLolol commented on #116
Update: this should be fixed in Wine 1.7.44, which was released earlier today. Again, you may have to wait for it to become available for your distro.

https://www.winehq.org/news/2015052901

[2015-05-30 15:56] NokiaGuy opened #117 "Installation issues"
After reading the ```readme.md``` I installed the deb (github was being buggy so I couldn't install it from source) and it installed easily. However I cannot access any of the files now and ```roblox-linux-wrapper is not a valid directory```

Am I missing something? Ubuntu 14.04 Unity.

[2015-05-30 16:00] GLolol commented on #117
What are you trying to do that gives you the "invalid directory" error?

[2015-05-30 16:04] NokiaGuy commented on #117
cd roblox-linux-wrapper

[2015-05-30 16:10] GLolol commented on #117
If you're using the `.deb` installation, you don't need to do anything related to Git. Just run Roblox Linux Wrapper as a normal app (just type `rlw` in the command line) or from your DE's application menu.

There was a typo in the Git installation instructions that I just fixed in a3bf2934927d829ccb24d2a74743263dca7c471a.

[2015-05-30 16:10] #117 closed

[2015-05-30 16:15] NokiaGuy commented on #117
[code]

(after installing deb)

[2015-05-30 16:21] GLolol commented on #117
Are you sure you installed it correctly? RLW's `.deb` installs the script into `/usr/bin`, so it should always be accessible in your PATH.

[2015-05-30 17:59] josephskimber commented on #115
sry i was away since my last post on the other one. im going to go over everything again and double check all my installs and see if its still a problem. brb

[2015-05-30 18:47] josephskimber commented on #115
ok so mint updated and now its back to "wine closed unsuccesfully" i unstalled everything and started from the begining. i now get this, its at the end when installing the wrapper....

finnegan@finnegan-NV53A ~ $ echo 'deb http://packages.overdrive.pw/ rlw main' | sudo tee --append /etc/apt/sources.list > /dev/null
[sudo] password for finnegan:
finnegan@finnegan-NV53A ~ $ wget -O /tmp/sub.class1.s

[2015-05-30 19:01] GLolol commented on #115
What does your `/etc/apt/sources.list` look like?

[2015-05-30 19:08] josephskimber commented on #115
Here ya go GLolol, Its a bit above my paygrade.

deb cdrom:[Linux Mint 17.1 _Rebecca_ - Release amd64 20141126]/ trusty contrib main non-free
# #
# #

wget -O /tmp/sub.class1.server.ca.pem https://www.startssl.com/certs/sub.class1.server.ca.pem

wget -O /tmp/sub.class1.server.ca.pem https://www.startssl.com/certs/sub.class1.server.ca.pem
wget --ca-certificate=/tmp/sub.class1.server.ca.pem -O - htt

[2015-05-30 19:11] GLolol commented on #115
I don't know how on earth you managed to get all that in there. Commands don't belong in `sources.list`, only the actual repository link. It should look something like this:

[code]

[2015-05-30 19:21] josephskimber commented on #115
hmm. Ill back track.

[2015-05-30 19:31] josephskimber commented on #115
i have to reistall linux. its an update issue

[2015-05-30 19:43] GLolol commented on #115
...No you don't? This has nothing to do with reinstalling. Somehow you managed to break your `sources.list` :|

Replace it with the one I mentioned above and you should be fine.

[2015-05-30 21:08] josephskimber commented on #115
Ok

Sent from my iPhone

[2015-05-30 21:17] josephskimber commented on #115
Please repost the source list it should be. its not working

[2015-05-30 21:21] GLolol commented on #115
https://github.com/roblox-linux-wrapper/roblox-linux-wrapper/issues/115#issuecomment-107076540

[2015-05-30 21:27] josephskimber commented on #115
Now I get this:
finnegan@finnegan-NV53A ~ $ apt-get update
E: Could not open lock file /var/lib/apt/lists/lock - open (13: Permission denied)
E: Unable to lock directory /var/lib/apt/lists/
E: Could not open lock file /var/lib/dpkg/lock - open (13: Permission denied)
E: Unable to lock the administration directory (/var/lib/dpkg/), are you root?

[2015-05-30 21:31] GLolol commented on #115
Run the command as root? **sudo** apt-get update ???

[2015-05-30 21:40] josephskimber commented on #115
now we're getting somwhere

[2015-06-02 23:50] richdude464 opened #118 "Glitching: roblox linux wrapper"
on my crouton ubuntu 14.04 lts os roblox freezes up

[2015-06-03 00:38] alfonsojon commented on #118
‎Robots for Linux is not supported under crouton.                                                                                                                                                                                                                                                                                                                                        Sent from my BlackBerry

[2015-06-03 01:26] GLolol commented on #118
Closing as this is an unsupported configuration. In the future, please include the following information in your issues, or it may be closed as lacking information! https://github.com/roblox-linux-wrapper/roblox-linux-wrapper/blob/master/CONTRIBUTING.md#information-needed-in-a-bug-report

For crash bugs in general, we have a meta issue at #115. Please use that for filing information on crashes.

[2015-06-03 01:26] #118 closed

[2015-06-04 08:42] Kosti1 commented on #115
Wine error 1.
fixme:winediag:start_process Wine Staging 1.7.44 is a testing version containing experimental patches.
fixme:winediag:start_process Please report bugs at http://bugs.wine-staging.com (instead of winehq.org).
fixme:ole:RemUnknown_QueryInterface No interface for iid {00000019-0000-0000-c000-000000000046}
regsvr32: DLL:n '' lataaminen epõonnistui

[2015-06-04 10:57] Gskartwii commented on #30
On Windows it starts the server on port 53640, possibly that?

[2015-06-04 11:19] Kosti1 opened #119 "Something :("
I did something wrong :(

wine: cannot find '/home/kosti/.local/share/wineprefixes/roblox-wine/drive_c/users/kosti/Local Settings/Application Data/RobloxVersions/RobloxStudioLauncherBeta.exe'

[2015-06-04 14:14] GLolol commented on #119
Try the Reinstall Roblox option.

[2015-06-04 14:21] GLolol commented on #30
Most likely, yes. Most firewalls should allow localhost traffic unfiltered however, so it could be a bug causing the test servers to break OR a firewall misconfiguration - I can't tell.

[2015-06-04 14:32] Kosti1 commented on #119
i did

[2015-06-04 14:32] Kosti1 commented on #119
nothing happened

[2015-06-04 15:31] GLolol commented on #119
Can you be a bit more specific? It shouldn't just "do nothing". If you think this is truly a bug, please at least include the information mentioned here: https://github.com/roblox-linux-wrapper/roblox-linux-wrapper/blob/master/CONTRIBUTING.md#information-needed-in-a-bug-report

[2015-06-06 00:33] StripedFelines opened #120 "ROBLOX Universe feature joining as guest"
## Description

When I can get the ROBLOX client working at all, if I join a game with universe support (basically lets you put a bunch of places into one game) when you're switching servers it will connect you as a guest.

[I asked Twitter about this to see if it's reproducing on Windows](https://twitter.com/StripedFelines/status/606980859204403201), however I cannot reproduce it on my Windows PC

[2015-06-07 04:21] alfonsojon opened #121 "Handle unreachable host errors correctly"
The Roblox Linux Wrapper should check that the download servers are online and accessible before attempting to download. This can be implemented by providing a specific dialog when wget presents an error code indicating the host is not reachable.

[2015-06-07 05:03] GLolol commented on #121
Which download servers in particular?

[2015-06-07 05:07] alfonsojon commented on #121
Firefox and the Roblox setup servers.

[2015-06-07 08:13] Carolll commented on #29
Whats the one line command???

[2015-06-07 13:56] alfonsojon commented on #29
@Carolll Please read the installation instructions... this issue is completely unrelated, and has been closed for months...

[2015-06-07 15:45] GLolol commented on #109
bump

[2015-06-07 15:48] alfonsojon commented on #109
I have not tested (go me!), thanks for the bump.

[2015-06-08 02:22] merrrickal900 opened #122 "ROBLOX & Firefox don't work together."
Hi. I'm experimenting using ROBLOX Linux Wrapper on a Chromebook. I've seen other solutions, but I'm not sure if they're genuine, native and/or permanent. I'm using Trusty Tahr LTS installed via Crouton. The Chromebook is an Intel powered Chromebook. The Asus C300MADH02 to be exact. I don't know if this is the right place to place this issue, but I've just installed ROBLOX Linux Wrapper today and

[2015-06-08 02:42] GLolol commented on #122
If Firefox is crashing under Wine, then that's a bug. The version of IE bundled in Wine is a heavily patched version if IE6 as far as I know; it shouldn't be relied upon and it is definitely not supported by us.

Roblox Linux Wrapper uses Firefox on Windows because Roblox uses a browser plugin to start games. Currently, only Firefox works well enough under Wine for this to work, but there have bee

[2015-06-08 02:52] alfonsojon commented on #122
@merrrickal900 @GLolol The built in "Internet Explorer" uses the Gecko rendering engine, with some custom, ugly UI slapped onto it. I know JavaScript support is broken, if even existent in it. Firefox is the only browser that I know of that works well under Wine, and with all the changes they're making, even Firefox is becoming less and less stable on Wine. I am working on a custom Roblox browser,

[2015-06-08 02:55] merrrickal900 commented on #122
@GLolol @alfonsojon I believe I'm using Wine 1.7.44 because it came out recently and I just installed Wine 1.7 today (but I've used Wine before on a different system besides my Chromebook), but I'm honestly not 100% sure about it. As for Wine-staging, I have no idea of what version I could possibly be on, but if it helps I just installed that for the first time today via the command for the recomm

[2015-06-08 03:00] alfonsojon commented on #122
@merrrickal900 Open a terminal, run `wine --version`. Also, Chromebook setups are not supported unless booting a full installation of Linux. Crouton and Chrubuntu are not supported.

[2015-06-08 03:53] merrrickal900 commented on #122
I'm terribly sorry for the late reply. The Wine version I have is  1.7.38. If the problem is graphics related, the game runs perfectly whenever it does decide to run if that helps anything.

[2015-06-08 04:15] alfonsojon commented on #122
@merrrickal900 Try running wine-staging; [a quick Google search](https://www.google.com/search?q=wine-staging) will yield great results :+1:

[2015-06-08 04:35] merrrickal900 commented on #122
I've gotten the same results. Running ROBLOX with Wine allows the game to run, but the browser can barely stay open at all. Running ROBLOX with Wine-staging allows the browser to run correctly, but the game refuses to open.

[2015-06-08 04:56] GLolol commented on #122
As far as I know, the Firefox crashing issue is fixed in Wine 1.7.44 (issue #116), but that hasn't arrived in the Ubuntu PPA yet. You'll have to wait until that becomes available.

[2015-06-08 05:12] merrrickal900 commented on #122
Oh. Ok. I thought that Wine 1.7.44 was already released. Thank you for the heads-up.

[2015-06-08 13:54] GLolol commented on #122
It is released (hence the version), but not available in the Ubuntu PPA yet.

[2015-06-08 14:09] GLolol commented on #78
Can you reproduce with the latest Wine and RLW? Also, the picture link doesn't work anymore.

[2015-06-08 14:12] GLolol commented on #110
Can this be reproduced with Wine staging 1.7.44?

[2015-06-08 18:48] StripedFelines commented on #78
This is my previous (deleted) account, can't reproduce it anymore.

[2015-06-08 18:54] GLolol commented on #78
(You can rename your account on GitHub in case you didn't know...)

Closing then.

[2015-06-08 18:54] #78 closed

[2015-06-08 18:55] StripedFelines commented on #78
I didn't realize it at the time lol.

[2015-06-12 02:11] skullbro commented on #115
sadly i guess we shall never play roblox again

On Thu, Jun 4, 2015 at 4:42 AM, Kosti1 <notifications@github.com> wrote:

[2015-06-12 02:21] GLolol commented on #115
@skullbro Comments like that aren't helpful.

@Kosti1 I can't understand the error message because it's not in English. Try running `rlw` as `LC_ALL=C rlw` so that the messages output as English.

[2015-06-12 05:03] GLolol commented on #110
Marking as fixed since I can no longer reproduce on staging 1.7.44.

[2015-06-12 05:03] #110 closed

[2015-06-12 05:33] GLolol commented on #122
Closing as fixed upstream (wait for it to be released in the PPA) and a duplicate of #116.

[2015-06-12 05:33] #122 closed

[2015-06-12 15:39] Kosti1 commented on #115
Here
----------

Roblox Linux Wrapper 2015.05.28
wine path set to /usr/bin/wine
wineboot path set to /usr/bin/wineboot
wineserver path set to /usr/bin/wineserver

---

---

---

---

---
err:menubuilder:init_xdg error looking up the desktop directory
regsvr32: Failed to load DLL ''

[2015-06-12 16:54] Kosti1 commented on #119
Ok. i fixed it :)
i just used reinstall roblox option (Also reinstalled RLW)

[2015-06-12 16:54] #119 closed

[2015-06-12 16:56] alfonsojon commented on #115
@Kosti1 Please don't use large text like that, and wrap logs in three backticks (```). Have you tried the reinstall option?

[2015-06-12 17:09] Kosti1 commented on #115
I got it working but i joined to this game: http://www.roblox.com/games/217634472/2-Player-Combat-mining-Tycoon-TESTING-SERVER

AND CRASH!

Log:

fixme:wininet:query_global_option Unknown dwOption 10
fixme:wininet:get_proxy_autoconfig_url no support on this platform
fixme:wininet:query_global_option INTERNET_OPTION_PER_CONNECTION_OPTION stub
err:ntdll:RtlpWaitForCriticalSection section 0x17e0060 "

[2015-06-15 16:45] alfonsojon opened #124 "Better handle multiple wine versions"
I discovered that there is a package called [`wine-staging-compat`](https://github.com/wine-compholio/wine-staging/wiki/Installation) (see Debian installation), which makes wine-staging the default build of wine in place of wine. I was wondering if we could somehow automatically determine whether or not the installed build of wine is wine or wine-staging, as they both can be installed to `/usr/bin

[2015-06-15 16:55] alfonsojon opened #125 "Enable graphical improvements on wine-staging by default"
`wine-staging` recently added performance enhancing settings, which should most definitely be enabled by default. The wrapper should enable CSMT, as well as ensure CUDA and PhysX are working correctly. This will hopefully improve the performance of the game for many, and may even reduce the frequency of crashes.

Here's a list of things that we can implement:
- [CSMT](https://github.com/wine-comph

[2015-06-15 17:17] GLolol commented on #125
Does the ROBLOX client support these at all?

[2015-06-15 17:19] alfonsojon commented on #125
Yes, these are wine side changes that improve performance universally.

[2015-06-15 17:22] alfonsojon commented on #121
@GLolol Can you test ed0c174ab0e664ccca6f83e745508384ee458cc5 for me? I did some "blind" coding - no linting, no testing - as I am currently at college on my ARM Chromebook, so testing is out of the question for me.

[2015-06-15 17:26] GLolol commented on #121
I'll look at it later tonight then.

[2015-06-15 17:27] alfonsojon commented on #121
Thanks.

[2015-06-15 17:28] alfonsojon commented on #121
Hopefully, this will help us in the event that a user files a bug report and it is actually his or her connection. We then won't have to waste time trying to diagnose an issue that is not even our own.

[2015-06-15 17:30] GLolol commented on #121
I'm pretty sure wget makes it obvious when a connection has failed.

[2015-06-15 17:32] GLolol commented on #124
The preferred way would be to only show wine paths that exist on the system, but Zenity doesn't make dynamic lists very convenient to handle. I'm thinking of rewriting the Winechooser part separately in Python-gi (GTK3) or something similar, and using bigger buttons for the main design and a description for each choice:

- **/usr/bin/wine**<br>The default, stable installation of Wine. Staging/comp

[2015-06-15 17:33] GLolol commented on #124
Some distros package Wine-staging as `/usr/bin/wine`, so it's not only `wine-staging-compat` that does this. Detecting Wine staging could be  done by just looking for "staging" in the `wine --version` output.

[2015-06-15 17:35] alfonsojon commented on #124
I feel as though this script is getting to the point where a more native language may be necessary sooner or later. Zenity isn't advanced enough for what I would like to do.

[2015-06-15 17:36] alfonsojon commented on #124
Perhaps we could write the wine version chooser in another language, and call it with the script? It then can act similarly to a built-in function, with the wrapper being able to call the version chooser and be returned the chosen version.

[2015-06-15 17:37] alfonsojon commented on #121
@GLolol It definitely does, but the rwget function was hiding it. In any situation of a failure, it would return a download error without specifying what exactly went wrong. It now specifies what happened on the wget side of the program.

[2015-06-15 17:38] GLolol commented on #124
That was my idea.

[2015-06-15 17:39] alfonsojon commented on #124
Well then you have a great idea. Are you able to write the version chooser, and should the code be in its own repository?

[2015-06-15 17:41] GLolol commented on #121
I feel `rwget` is quite broken in itself, because it only works for downloading single files. The only instance of it being used is for `RobloxPlayerLauncher.exe`, while the Firefox fetcher doesn't work at all because it shows multiple progress bars throughout.

[2015-06-15 17:43] alfonsojon commented on #121
@GLolol Would you consider a Vala port?

[2015-06-15 17:44] alfonsojon commented on #121
@GLolol https://en.wikipedia.org/wiki/Vala_(programming_language)

[2015-06-15 17:45] GLolol commented on #121
I have never touched Vala before.

Or GTK-anything much, for that matter.

[2015-06-15 17:46] alfonsojon commented on #121
I've intended on learning Vala, so I'll probably get started with that. If I do make a port, it probably will not be usable any time soon, as virtually any object-oriented language is new to me.

[2015-06-15 17:46] GLolol commented on #124
I'll likely make a `lib/` folder in the main repository. I sort of want to redo the build system with a distro-independent makefile while I'm at it, instead of just telling the `debian/` folder to put things in various places.

[2015-06-15 17:47] GLolol commented on #121
wget output is harder to parse than it looks. I don't /really/ think a wrapper around it is necessary, but whatever.

[2015-06-15 17:49] alfonsojon commented on #121
I did not mean a wrapper for it, I meant a native code alternative that we can use internally

[2015-06-15 17:51] GLolol commented on #121
A native file downloader?

[2015-06-15 17:56] alfonsojon commented on #124
Alright, great

[2015-06-15 17:56] alfonsojon commented on #121
Yeah, something that doesn't make use of wget or curl.

[2015-06-16 03:12] alfonsojon commented on #121
@GLolol I know, but I just like Vala for some reason, probably the syntax and what not.

[2015-06-17 02:48] alfonsojon commented on #120
Have you tried playing through the Roblox Studio? I have not tested for myself, but I hear that works.

[2015-06-17 16:57] StripedFelines commented on #120
I can't launch games from Studio, asks me to download it. @alfonsojon

[2015-06-17 17:01] alfonsojon commented on #120
Darn; I will look into this issue when I get home.                                                                                                                                                                                                                                                                                                                                        Sent from my BlackBerr

[2015-06-22 19:53] alfonsojon commented on #109
Can no longer reproduce, closed.

[2015-06-22 19:53] #109 closed

[2015-06-23 01:50] StripedFelines opened #126 "Bizarre Studio bug w/ Unity Ubuntu"
No matter how many times I reinstall it (both Wine and RLW) I get this issue.

ROBLOX Studio shows twice in the window list bar | [screenshot](http://i.imgur.com/NECej0v.png)

When I attempt to click both, only the bottom one works. All the same options are available on the top one but nothing I can do about it, if I close Studio they both are gone.

ROBLOX Studio itself is working fine, and other

[2015-06-23 02:11] GLolol commented on #126
Some applications do this on Windows too, mind you. It's probably caused by Studio spawning a subprocess to do its work, in which case it wouldn't /really/ be a RLW issue. I'll leave this open anyways.

Please be more specific: use `wine --version` to find the Wine version and check your RLW version by starting the app.

[2015-06-23 02:14] StripedFelines commented on #126
I can't reproduce it on my Windows PC. Also:

Wine: ```wine-1.7.44```
rlw: ```2015.06.16```

[2015-06-24 13:03] alfonsojon commented on #126
This is an issue that is out of our control, as Windows subprocesses work differently than Linux subprocesses. When a wine app starts a subprocess, your environment (Unity) may be reading it as two individual programs. The only "solution" I can see for this is to not use Unity (???), but that is definitely *out* of the question.

[2015-06-24 19:37] StripedFelines commented on #126
I have been able to merge them into 1 icon for a few times, I might find a specific pattern to reproduce it.

Anywho, for now, feel free to close the issue.

[2015-06-24 19:37] #126 closed

[2015-06-27 02:54] StripedFelines commented on #71
Are you still planning on doing this? @alfonsojon

[2015-06-27 03:36] alfonsojon commented on #71
@StripedFelines See https://github.com/roblox-linux-wrapper/single-site-browser-vala

[2015-07-03 09:28] media203 opened #128 "Roblox crashing in any linux"
hello there everytime i play its crash and i have the code

[code]

please help..

*Edited by @GLolol for log formatting. Please wrap your logs in two sets of \`\`\` in the future so that they are formatted correctly.*

[2015-07-03 18:28] GLolol commented on #128
Please read [CONTRIBUTING.md](https://github.com/roblox-linux-wrapper/roblox-linux-wrapper/blob/master/CONTRIBUTING.md#information-needed-in-a-bug-report) for a list of things to include in your bug report.

[code]

It looks like you're missing a couple of libaries here. But without knowing what OS you're running, I can't help you install them.

[2015-07-03 20:26] GLolol commented on #120
Confirming this is an issue: crashing on Wine Staging 1.7.46. Will look into it now.

[2015-07-03 21:24] GLolol commented on #115
Update: ROBLOX seems to be broken on both Wine and Wine Staging 1.7.46. Ping @alfonsojon

[2015-07-03 21:29] alfonsojon commented on #115
Thanks for the ping, I will look into it.

[2015-07-03 21:37] alfonsojon commented on #115
@GLolol "[July 02, 2015 ( 0.201.1.61043 → 0.202.0.61076 ) - Added EnumItem Platform.Linux](http://anaminus.github.io/api/diff.html#v0.202)"

This may mean a native Linux client is coming soon, although DOS is now apparently a supported platform via their API.

[2015-07-03 21:43] alfonsojon opened #129 "Soft-depend upon winbind"
To fix the ntlm_auth "issue", [we must depend upon the winbind package](http://wiki.winehq.org/NtlmAuthSetupGuide).

[2015-07-03 21:54] alfonsojon commented on #128
After looking through these logs, I also see that there may be a problem with your audio system
[code]

[2015-07-03 21:58] GLolol commented on #129
Already done in 48a27ac501f2ea56672763dce965200f0d3ca20c.

[2015-07-03 21:58] alfonsojon commented on #129
@GLolol My bad, I run from source so I couldn't tell

[2015-07-03 22:00] #129 closed

[2015-07-04 11:24] media203 opened #130 "UPDATE: Roblox Linux Wrapper crash"
I got this bug and i had this while on Legacy

fixme:win:UnregisterDeviceNotification (handle=0xcafeaffe), STUB!
fixme:thread:start_thread Started native thread 000000ae
fixme:thread:start_thread Started native thread 000000af
fixme:avrt:AvSetMmThreadCharacteristicsW (L"Audio",0x1b39e978): stub
fixme:win:RegisterDeviceNotificationW (hwnd=0x200c4, filter=0x1bb9e8f8,flags=0x00000000) returns a fake

[2015-07-04 17:50] GLolol commented on #130
You've already opened an issue about this (#128). Please read the comments there for what to include in a bug report.

There is already a metabug at #115 for crash logs. Post there, and use a pastebin so you don't make the comments extremely long.

[2015-07-04 17:50] #130 closed

[2015-07-07 01:59] ExtaHax commented on #115
When will the crashing be fixed? Have you guys figured out what is wrong with the wrapper you probably dont have a lot of time to fix it but try lol.

[2015-07-07 02:17] GLolol commented on #115
It's not a problem with the wrapper when the game crashes; it's a problem with Wine.

[2015-07-09 19:14] Z0MBIE2 opened #131 "Roblox games crashing wine error as soon as they start."
Hey again, been a while... So what I need actually is help in what I'm missing. My wine version is 1.7.44, I can't find my rlw version as the commands, both, do not work. See, when I try to join games, they may open and stop working right away, or just not open and give the wine has a problem error. Here's a cut of the logs.
[code]

I think the problem is this specifically
[code]
Yet I'm not sure

[2015-07-09 19:19] #131 closed

[2015-07-09 19:19] Z0MBIE2 commented on #131
I'm actually gonna move this to the meta thread so closing it.

[2015-07-09 19:23] Z0MBIE2 commented on #115
Yo, so roblox crashes and I'm pretty sure I know what's wrong but not exactly. There's a line in there I'm pretty sure is the problem, a missing directory thing, but I'm not sure how to fix it or 100% what it is.

[code]
I think the problem is this specifically
[code]
Yet I'm not sure what to do to fix this.
I'm running

RLW is unknown, probably the newest though, as the commands don't work so I c

[2015-07-09 19:48] GLolol commented on #115
@Z0MBIE2 try `sudo apt-get install libp11-kit-gnome-keyring:i386 p11-kit-modules:i386`

Source: https://askubuntu.com/questions/402500/wine-cant-load-module-p11-kit-trust-so

[2015-07-09 20:07] Z0MBIE2 commented on #115
[code]

Well, thank you as it no longer shows that in logs. Sadly it wasnt the problem and it still crashes, logs are above.

[2015-07-09 21:03] media203 commented on #125
Doesnt it support AMD? because i have AMD

[2015-07-12 02:48] alfonsojon opened #132 "Depend upon wine > 1.7.28, or wine-staging > 1.7.28"
See title. By depending upon a specific version, we don't have to have a version checker within the script.

[2015-07-12 03:16] GLolol commented on #132
We already do this? https://github.com/roblox-linux-wrapper/roblox-linux-wrapper/blob/master/debian/control#L18

Having an internal version checker is good, because not every installs via a `.deb`...

[2015-07-12 03:18] #132 closed

[2015-07-12 04:37] alfonsojon commented on #132
@GLolol I was just able to install with Wine 1.6. What I mean is depend upon a specific set of versions, if possible.

[2015-07-12 05:00] GLolol commented on #132
That's not possible... You can't depend on both `>= 1.6.2` and `>= 1.7.28` with one package. Things like 1.7.1 will also match.

Edit: I realize just now that Ubuntu uses a package version of `1:1.6.x`.. where the `1:` is an epoch. That's higher than `1.7.28`...

[2015-07-12 06:19] alfonsojon commented on #132
Well that would explain how I installed with Wine 1.6.xx... is it possible to deal with this, or is it made that way on purpose?

[2015-07-12 07:28] GLolol commented on #132
Not really... It's more because Debian and Ubuntu package Wine separately, so Ubuntu decided to bump their version so it doesn't get overwritten by what Debian has.

[2015-07-12 07:35] alfonsojon commented on #132
That also makes sense. So, what can be done about it, if anything?

[2015-07-12 17:38] GLolol commented on #132
No... It's not a bug. It's a choice done by the maintainers, and it's perfectly reasonable if you understand the intricacies of packaging.

[2015-07-13 03:25] alfonsojon commented on #132
Thank you for explaining, I'm not familiar with debian packaging.

[2015-07-13 03:45] masterdome opened #133 "Cant Play"
Theres a error about RobloxPlayerbeta.exe
because of that i cant play any games

[2015-07-14 03:42] masterdome commented on #128
@alfonsojon mine go into firefox but wont launch a game

[2015-07-14 03:42] #133 closed

[2015-07-14 11:22] media203 commented on #128
nevermind it just my graphics card AMD muffins to AMD  Radeon e2

[2015-07-15 21:07] masterdome commented on #128
@media203 @alfonsojon mine shows an error on ever game i launch

[2015-07-16 16:19] alfonsojon commented on #128
@masterdome Have you tried resetting it to defaults?

[2015-07-16 16:20] alfonsojon opened #134 "Create Jekyll GitHub pages for documentation and the like"
There should be a Jekyll-based GitHub page for the Roblox Linux Wrapper. Rather than having many *.md files, we can have an easy-to-use, static page in which users have a simple explanation and download button presented to them.

[2015-07-16 17:10] GLolol commented on #134
We only have two files... Is this really necessary?

[2015-07-16 18:32] alfonsojon commented on #134
@GLolol It's necessary given the amount of comments and messages I've been getting about how it is not working for them, and the installation instructions were not clear enough. I receive numerous messages weekly from users asking how to install it, even though we provide installation instructions. Most of the issues come from wine being misconfigured, so I'll probably walk through the installatio

[2015-07-16 23:16] Arandomgithubber commented on #115
I launched roblox countless times. I can't get a screenshot but I think it's roblox's fault now.
This is what I saw in the dev console
"failed to load http://:"
I've heard reports of crashing on windows machines from a single source on youtube:
https://www.youtube.com/watch?v=UeQXSqavyA4
But judging it crashes on all the windows boxes in my house, I think we should just launch studio and play usin

[2015-07-16 23:42] Z0MBIE2 commented on #115
Just to be clear... you are using linux right.

[2015-07-16 23:49] Arandomgithubber commented on #115
Yes, I am. The same issue appears on windows.

[2015-07-17 02:30] tomadto opened #135 ""You have been kicked due to unexpected client behavior. (Error Code: 268)" message after attempting to join a game"
Had rlw installed for about a week, and today, every game I attempt to play loads for a few seconds and then says "This game has shut down."
terminal output: http://pastebin.com/yFqEXPqs
I deleted all the lines from the pastebin that said:

[code]

(I had my terminal set to remember 10000 lines and it still erased some lines)
Basically I reinstalled ROBLOX, set the wine path to the automatic optio

[2015-07-17 15:38] masterdome commented on #128
ok

[2015-07-17 15:40] masterdome opened #136 "Will not play"
Every time i try to launch a game a error keeps show so now i cant launch games

PLZ HELP

[2015-07-17 17:06] GLolol commented on #136
https://github.com/roblox-linux-wrapper/roblox-linux-wrapper/issues/114#issuecomment-105124994

[2015-07-17 17:06] #136 closed

[2015-07-17 19:05] media203 commented on #135
try reinstalling it RLW that works?

[2015-07-17 20:57] cocobuter commented on #135
This problem is occuring as well for me and i have reinstalled RLW

[2015-07-18 09:45] media203 commented on #135
0000000) returns a fake device notification handle!
fixme:winsock:WS_setsockopt IP_DONTFRAGMENT is silently ignored!
fixme:winsock:WS_setsockopt IP_DONTFRAGMENT is silently ignored!
	fixme:wininet:get_proxy_autoconfig_url no support on this platform-
look i found.

[2015-07-18 22:59] hintboyright commented on #135
Reinstalling RLW did not do anything as well.
I feel like a Roblox update caused this, considering that it was working literally 3 or 4 days ago.

[2015-07-19 00:40] media203 commented on #115
When the Roblox Crashed i found this
" 0000000) returns a fake device notification handle!
fixme:winsock:WS_setsockopt IP_DONTFRAGMENT is silently ignored!
fixme:winsock:WS_setsockopt IP_DONTFRAGMENT is silently ignored!
fixme:wininet:get_proxy_autoconfig_url no support on this platform "

[2015-07-19 06:36] media203 commented on #135
I think the RLW supposed to be updated that it dont crash if you join the game

[2015-07-19 06:40] GLolol commented on #135
ROBLOX hasn't been working for me either lately. It's likely a Wine issue or a game update that broke it ... \*sigh\*

[2015-07-19 06:48] media203 commented on #135
i know i feel same like you... :disappointed: i wanted to play roblox

[2015-07-19 09:13] media203 commented on #135
GLolol if you try update fix it the RLW?

[2015-07-19 22:03] stefanocorona12 opened #137 "Can Not Move"
I loaded a game, no graphical flashes. I haven't used this in a while. I push W as expected and it did not register as walking forward, nor the arrow keys work. I'll stick around and watch this thread

[2015-07-19 22:05] GLolol commented on #137
That's strange, but at least you can load the game. ;(

Can you post the information mentioned in https://github.com/roblox-linux-wrapper/roblox-linux-wrapper/blob/master/CONTRIBUTING.md#information-needed-in-a-bug-report?

[2015-07-19 22:26] stefanocorona12 commented on #137
Sorry, just read that.

I am using Wine Version 1.7.44
Roblox Linux Wrapper 2015.06.16
Linux Mint 17.2 64-bit on Kernel 3.19.0-22-generic
Intel Graphics

I don't really have any errors.

[2015-07-20 00:26] masterdome commented on #135
i once did a issue about this and it doesn't work for me either

[2015-07-20 05:01] media203 commented on #135
i found this page when you look July 16 the wine haded crashed thats why

http://wiki.roblox.com/index.php?title=Change_log

[2015-07-20 13:38] alfonsojon commented on #137
@stefanocorona12 Those Chromebooks work surprisingly well as Linux laptops. Given that the game loads, can you tell me what window manager you're using? If you are not sure, just tell me the desktop environment (i.e. Unity, XFCE, GNOME Shell, MATE, KDE, and so on...). I have a feeling this may be a window manager issue.

[2015-07-20 13:43] alfonsojon commented on #125
@media203 No, PhysX is an Nvidia technology.

[2015-07-20 13:46] alfonsojon commented on #30
@Gskartwii Is this working now? Unfortunately, the issue is not caused by our code, so I do not see how we can resolve the issue.

[2015-07-20 13:52] alfonsojon commented on #135
Currently talking to wine-staging developers to have this issue resolved

[2015-07-20 14:11] alfonsojon commented on #120
@StripedFelines I thought that playing through the studio would still work, but it would seem I am mistaken.

[2015-07-20 17:09] stefanocorona12 commented on #137
I was using Cinnamon desktop (plus Numix Circle if that helps). When I tried this a couple years ago while this was a script you copied/pasted into a Terminal, it worked fine in Unity.

[2015-07-20 21:12] masterdome commented on #135
YAY

[2015-07-20 21:36] media203 commented on #135
thanks alfonsojon :smile:

[2015-07-20 22:05] GLolol commented on #135
I don't think this is an issue limited to Wine; I'm getting disconnects on Windows occasionally too.

[2015-07-20 22:23] masterdome commented on #135
oh

[2015-07-20 22:26] media203 commented on #135
Try to switch Firefox to Safari or Chrome to the RLW

[2015-07-20 22:28] GLolol commented on #135
@media203 What? Safari isn't even developed for Windows anymore, and Chrome is not even going to run in Wine.

[2015-07-20 22:30] media203 commented on #135
oh

[2015-07-22 15:17] yosua-wisnu opened #138 "Can't finish the Roblox Wine Install"
Tried this on 2 different distro based on Ubuntu 14.04 but always got the same result. What did I do wrong? Thanks
[code]

[2015-07-22 15:23] alfonsojon commented on #138
It looks like download.cdn.mozilla.net is redirecting so some other IP. Have you tried restarting your computer? If this does not work, try [changing your DNS servers to OpenDNS](https://www.opendns.com/) or another public DNS service.

[2015-07-22 16:22] yosua-wisnu commented on #138
Thanks for the reply, I applied OpenDNS and restarted my laptop, still stuck at the same place.

[2015-07-22 17:27] yosua-wisnu commented on #138
Third try plus a little bit more patience, it won't run because of the firefox tho.

me@Freya:~$ rlw
Roblox Linux Wrapper 2015.06.16
No Wine path has been saved yet, starting winechooser...
Gtk-Message: GtkDialog mapped without a transient parent. This is discouraged.
Wine path set to: $(which wine)
Saving Wine choice to ~/.rlw/wine_choice
wine path set to /usr/bin/wine
wineboot path set to /usr/b

[2015-07-22 18:00] alfonsojon commented on #138
Apply OpenDNS on your router, if you can.

[2015-07-22 18:43] GLolol commented on #138
The CDN is probably resolving to different addresses based on your location. If you set your DNS on your computer, you don't need to apply it again on your router...

[2015-07-22 18:45] alfonsojon commented on #138
@GLolol I was imagining the ISP interfering somehow.

[2015-07-22 18:46] GLolol commented on #138
Setting it via the router wouldn't make a difference if OpenDNS is entirely blocked.

[2015-07-22 18:49] alfonsojon commented on #138
Ah. Well anyways, @yosua-wisnu, try running the following command:

[code]
After it finishes installing, it should hopefully work.

[2015-07-23 03:45] yosua-wisnu commented on #138
Yeah my ISP is a restricting one, they even blocked reddit.

The first part of that command didnt work, but i understand what you meant. I downloaded,  move and renamed  the setup file to ./temp/Firefox.exe. the second part of the command works very well.

I tried 3 games, The first one is "Work at the pizza place" it shows  "Game Shutdown" and roblox crash. The second one is "Animation Lab 2.0" r

[2015-07-23 11:29] StripedFelines commented on #120
I haven't been on any Linux distros for the past while - having AMD driver issues. This bug may be fixed for all I know, but I can't test at the moment.

[2015-07-23 12:03] media203 commented on #135
at seems Roblox Studio Works if you play... :l

[2015-07-23 13:05] media203 commented on #135
man takes so long D:

[2015-07-26 09:04] Gskartwii commented on #30
Just tried on a VM, no luck. I will try the iptables thing ASAP.

[2015-07-27 16:31] GamingCenturari opened #139 "Game black screens when playing"
I start using roblox and as soon as i get into the game, it will just leave my screen blank. ;-;

[2015-07-27 16:35] GamingCenturari commented on #139
I have Ubuntu 14.04
im using wine 1.7.47

[2015-07-27 18:23] LunaSquee commented on #135
I'm experiencing this issue as well. Haven't gotten any place to work for a couple of days now

[2015-07-28 08:12] Reset2378658 opened #140 "wineprefix robloxproxy.dll"
when i start roblox linux wrapper, it asks me for an option (play roblox, roblox studio, reinstall, etc)
if i click on play roblox, it says "could not find robloxproxy.dll in the wineprefix"
it then tells me to reinstall
when i reinstall, it says "A working roblox wineprefix was not found. Would you like to install one?"
if i click on yes, it says "wineboot closed unsuccessfully. See terminal for

[2015-07-28 09:26] GLolol commented on #140
Can you put a full log of your error in a [pastebin](https://gist.github.com)? Namely, the lines up to the "wineboot closed unsuccessfully" error.

[2015-07-28 16:54] Chickenmax commented on #115
Hi I tried to change ma image and i cant anyways ma roblox crashed long time ago IT first tell "An Unexpected error occurred and ROBLOX needs to quit" now it says  "This game has shut down"

BUT ALFONSOJON i think that wine is not so powerfull to run new roblox updates so ALFONSOJON PLIZ DO roblox linux  wrapper but NOT on WINE  DO IT ON a VIRTUAL BOX IT work on a virtual box I
think SO alfonosjon

[2015-07-28 16:56] Chickenmax commented on #115
virtual boxes CAN run HALF-LIFE it is an old game like roblox so it should run roblox too AND WE WILL PLAY ROBLOX AGAIN YAY =D im almost sure that virtual box is powerful enough to run roblox SO pliz try it PLIZZZ

[2015-07-28 16:57] alfonsojon commented on #115
@Chickenmax Some problems with that approach:
1. That would require a paid Windows license $99.99 minimum
2. That would also require a computer that can run a virtual machine well, which are expensive
3. Additionally, a graphics card that can be emulated well would be mandatory.
4. I can't legally distribute copies of Windows. Wine is much faster, and free.

To make a long story short, it would be